---
swagger: "2.0"
info:
  description: " JumpCloud's V2 API. This set of endpoints allows JumpCloud customers\
    \ to manage objects, groupings and mappings and interact with the JumpCloud Graph."
  version: "2.0"
  title: "JumpCloud APIs"
host: "console.jumpcloud.com"
basePath: "/api/v2"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /enrollmentprofiles/{enrollment_profile_id}:
    get:
      summary: "Get Enrollment Profile"
      operationId: "jcEnrollmentProfiles_get"
      parameters:
      - name: "enrollment_profile_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "EnrollmentProfileId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/jc-enrollment-profile"
        x-exportParamName: "Body"
      responses:
        default:
          description: ""
      security:
      - x-api-key: []
      x-stoplight:
        id: "jcEnrollmentProfiles_get"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    put:
      summary: "Update Enrollment Profile"
      operationId: "jcEnrollmentProfiles_put"
      parameters:
      - name: "enrollment_profile_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "EnrollmentProfileId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/body"
        x-exportParamName: "Body"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/jc-enrollment-profile"
      security:
      - x-api-key: []
      x-stoplight:
        id: "jcEnrollmentProfiles_put"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    delete:
      summary: "Delete Enrollment Profile"
      operationId: "jcEnrollmentProfiles_delete"
      parameters:
      - name: "enrollment_profile_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "EnrollmentProfileId"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/jc-enrollment-profile"
      security:
      - x-api-key: []
      x-stoplight:
        id: "jcEnrollmentProfiles_delete"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /enrollmentprofiles:
    get:
      summary: "List Enrollment Profiles"
      operationId: "jcEnrollmentProfiles_list"
      parameters:
      - name: "limit"
        in: "query"
        required: false
        type: "integer"
        default: 10
        maximum: 100
        minimum: 0
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/jc-enrollment-profile"
      security:
      - x-api-key: []
      x-stoplight:
        id: "jcEnrollmentProfiles_list"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      summary: "Create new Enrollment Profile"
      operationId: "jcEnrollmentProfiles_post"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/body_1"
        x-exportParamName: "Body"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/jc-enrollment-profile"
      security:
      - x-api-key: []
      x-stoplight:
        id: "jcEnrollmentProfiles_post"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /users/{user_id}/activedirectories:
    get:
      tags:
      - "Graph"
      summary: "List the Active Directory instances bound to a User"
      description: "This endpoint will return all Active Directory Instances bound\
        \ to a User, either directly or indirectly, essentially traversing the JumpCloud\
        \ Graph for your Organization.\n\nEach element will contain the type, id,\
        \ attributes and paths.\n\nThe `attributes` object is a key/value hash of\
        \ compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates\
        \ each path from this User to the corresponding Active Directory instance;\
        \ this array represents all grouping and/or associations that would have to\
        \ be removed to deprovision the Active Directory instance from this User.\n\
        \nSee `/members` and `/associations` endpoints to manage those collections.\n\
        \n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/users/{UserID}/activedirectories\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_userTraverseActiveDirectory"
      parameters:
      - name: "user_id"
        in: "path"
        description: "ObjectID of the User."
        required: true
        type: "string"
        x-exportParamName: "UserId"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_userTraverseActiveDirectory"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /activedirectories/{activedirectory_id}/users:
    get:
      tags:
      - "Graph"
      summary: "List the Users bound to an Active Directory instance"
      description: "This endpoint will return all Users bound to an Active Directory\
        \ instance, either directly or indirectly, essentially traversing the JumpCloud\
        \ Graph for your Organization.\n\nEach element will contain the type, id,\
        \ attributes and paths.\n\nThe `attributes` object is a key/value hash of\
        \ compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates\
        \ each path from this Active Directory instance to the corresponding User;\
        \ this array represents all grouping and/or associations that would have to\
        \ be removed to deprovision the User from this Active Directory instance.\n\
        \nSee `/members` and `/associations` endpoints to manage those collections.\n\
        \n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/users\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_activeDirectoryTraverseUser"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        description: "ObjectID of the Active Directory instance."
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_activeDirectoryTraverseUser"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /applemdms:
    get:
      tags:
      - "Apple MDM"
      summary: "List Apple MDMs"
      description: "Get a list of all Apple MDM configurations.  An empty topic indicates\
        \ that a signed certificate from Apple has not been provided to the PUT endpoint\
        \ yet.\n\nNote: currently only one MDM configuration per organization is supported.\n\
        \n#### Sample Request\n```\ncurl https://console.jumpcloud.com/api/v2/applemdms\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "applemdms_list"
      parameters:
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AppleMDM"
      security:
      - x-api-key: []
      x-stoplight:
        id: "applemdms_list"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Apple MDM"
      summary: "Create Apple MDM"
      description: "Creates an Apple MDM Enrollment for an organization. Only one\
        \ enrollment per organization will be allowed.  Note that this is the first\
        \ step in completly setting up an MDM Enrollment.  The user must supply the\
        \ returned plist to Apple for signing, and then provide the certificate provided\
        \ by Apple back into the PUT API.\n\n#### Sample Request\n```\n  curl -X POST\
        \ https://console.jumpcloud.com/api/v2/organizations/{Organization_ID}/mdm\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{}'\n```"
      operationId: "applemdms_post"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/body_2"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/inline_response_201"
        400:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        401:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        403:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        404:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        409:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        500:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
      security:
      - x-api-key: []
      x-stoplight:
        id: "applemdms_post"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /applemdms/{apple_mdm_id}:
    put:
      tags:
      - "Apple MDM"
      summary: "Update an Apple MDM"
      description: "Updates an Apple MDM configuration.  This endpoint is used to\
        \ supply JumpCloud with a signed certificate from Apple in order to finalize\
        \ the setup and allow JumpCloud to manage your devices.\n\n#### Sample Request\n\
        ```\n  curl -X PUT https://console.jumpcloud.com/api/v2/applemdms/{ID} \\\n\
        \  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"name\": \"MDM name\"\
        ,\n    \"appleSignedCert\": \"{CERTIFICATE}\"\n  }'\n```"
      operationId: "applemdms_put"
      parameters:
      - name: "apple_mdm_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AppleMdmId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/apple-mdm-patch-input"
        x-exportParamName: "Body"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/AppleMDM"
        400:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        401:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        403:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        404:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        409:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        500:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
      security:
      - x-api-key: []
      x-stoplight:
        id: "applemdms_put"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    delete:
      tags:
      - "Apple MDM"
      summary: "Delete an Apple MDM"
      description: "Removes an Apple MDM configuration.\n\nWarning: This is a destructive\
        \ operation and will remove your Apple Push Certificates.  We will no longer\
        \ be able to manage your devices and the only recovery option is to re-register\
        \ all devices into MDM.\n\n#### Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/applemdms/{id}\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "applemdms_delete"
      parameters:
      - name: "apple_mdm_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AppleMdmId"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/AppleMDM"
        400:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        401:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        403:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        404:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        409:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        500:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
      security:
      - x-api-key: []
      x-stoplight:
        id: "applemdms_delete"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /applemdms/{apple_mdm_id}/enrollmentprofiles:
    get:
      tags:
      - "Apple MDM"
      summary: "List Apple MDM Enrollment Profiles"
      description: "Get a list of enrollment profiles for an apple mdm.\n\nNote: currently\
        \ only one enrollment profile is supported.\n\n#### Sample Request\n```\n\
        curl https://console.jumpcloud.com/api/v2/applemdms/{APPLE_MDM_ID}/enrollmentprofiles\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "enrollmentprofiles_list"
      parameters:
      - name: "apple_mdm_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AppleMdmId"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AppleMDM"
      security:
      - x-api-key: []
      x-stoplight:
        id: "enrollmentprofiles_list"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /applemdms/{apple_mdm_id}/enrollmentprofiles/{enrollment_profile_id}:
    get:
      tags:
      - "Apple MDM"
      summary: "Get an Apple MDM Enrollment Profile"
      description: "Get an enrollment profile\n\nCurrently only requesting the mobileconfig\
        \ is supported.\n\n#### Sample Request\n\n```\ncurl https://console.jumpcloud.com/api/v2/applemdms/{APPLE_MDM_ID}/enrollmentprofiles/{ENROLLMENT_PROFILE_ID}\
        \ \\\n  -H 'accept: application/x-apple-aspen-config' \\\n  -H 'content-type:\
        \ application/json' \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "enrollmentprofiles_get"
      produces:
      - "application/x-apple-aspen-config"
      parameters:
      - name: "apple_mdm_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AppleMdmId"
      - name: "enrollment_profile_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "EnrollmentProfileId"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/mobileconfig"
      security:
      - x-api-key: []
      x-stoplight:
        id: "enrollmentprofiles_get"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /organizations/{id}/crypto:
    get:
      tags:
      - "Organizations"
      summary: "Get Crypto Settings"
      operationId: "org_crypto_get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted, the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/org-crypto-settings"
      security:
      - x-api-key: []
      x-stoplight:
        id: "org_crypto_get"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    put:
      tags:
      - "Organizations"
      summary: "Edit Crypto Settings"
      operationId: "org_crypto_put"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/org-crypto-settings"
        x-exportParamName: "Body"
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted, the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      responses:
        204:
          description: ""
          schema:
            type: "object"
            properties: {}
      security:
      - x-api-key: []
      x-stoplight:
        id: "org_crypto_put"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /activedirectories/{activedirectory_id}/associations:
    get:
      tags:
      - "Graph"
      - "Active Directory"
      summary: "List the associations of an Active Directory instance"
      description: "This endpoint returns the direct associations of this Active Directory\
        \ instance.\n\nA direct association can be a non-homogeneous relationship\
        \ between 2 different objects, for example Active Directory and Users.\n\n\
        \n#### Sample Request\n```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/associations?targets=user\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_activeDirectoryAssociationsList"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - name: "targets"
        in: "query"
        description: ""
        required: true
        type: "array"
        items:
          type: "string"
          enum:
          - "active_directory"
          - "application"
          - "command"
          - "g_suite"
          - "ldap_server"
          - "office_365"
          - "policy"
          - "radius_server"
          - "system"
          - "system_group"
          - "user"
          - "user_group"
        x-exportParamName: "Targets"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphConnection"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_activeDirectoryAssociationsList"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Graph"
      - "Active Directory"
      summary: "Manage the associations of an Active Directory instance"
      description: "This endpoint allows you to manage the _direct_ associations of\
        \ an Active Directory instance.\n\nA direct association can be a non-homogeneous\
        \ relationship between 2 different objects, for example Active Directory and\
        \ Users.\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/activedirectories/{AD_Instance_ID}/associations\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n        \"op\": \"add\",\n\
        \        \"type\": \"user\",\n        \"id\": \"{User_ID}\"\n}\n'\n```"
      operationId: "graph_activeDirectoryAssociationsPost"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/GraphManagementReq"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        204:
          description: ""
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_activeDirectoryAssociationsPost"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /activedirectories:
    get:
      tags:
      - "Active Directory"
      summary: "List Active Directories"
      description: "This endpoint allows you to list all your Active Directory Instances.\n\
        \n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "activedirectories_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted, the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/active-directory-output"
      security:
      - x-api-key: []
      x-stoplight:
        id: "activedirectories_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Active Directory"
      summary: "Create a new Active Directory"
      description: "This endpoint allows you to create a new Active Directory.\n\n\
        \n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/activedirectories/\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n        \"domain\": \"{DC=AD_domain_name;DC=com}\"\
        \n}\n'\n```"
      operationId: "activedirectories_post"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/active-directory-input"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/active-directory-output"
      security:
      - x-api-key: []
      x-stoplight:
        id: "activedirectories_post"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /activedirectories/{id}:
    get:
      tags:
      - "Active Directory"
      summary: "Get an Active Directory"
      description: "This endpoint returns a specific Active Directory.\n\n#### Sample\
        \ Request\n\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "activedirectories_get"
      parameters:
      - name: "id"
        in: "path"
        description: "ObjectID of this Active Directory instance."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/active-directory-output"
      security:
      - x-api-key: []
      x-stoplight:
        id: "activedirectories_get"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    delete:
      tags:
      - "Active Directory"
      summary: "Delete an Active Directory"
      description: "This endpoint allows you to delete an Active Directory Instance.\n\
        \n#### Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY'\n  ```"
      operationId: "activedirectories_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "ObjectID of this Active Directory instance."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        204:
          description: ""
      security:
      - x-api-key: []
      x-stoplight:
        id: "activedirectories_delete"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /activedirectories/{activedirectory_id}/usergroups:
    get:
      tags:
      - "Graph"
      - "Active Directory"
      summary: "List the User Groups bound to an Active Directory instance"
      description: "This endpoint will return all Users Groups bound to an Active\
        \ Directory instance, either directly or indirectly, essentially traversing\
        \ the JumpCloud Graph for your Organization.\n\nEach element will contain\
        \ the group's type, id, attributes and paths.\n\nThe `attributes` object is\
        \ a key/value hash of compiled graph attributes for all paths followed.\n\n\
        The `paths` array enumerates each path from this Active Directory instance\
        \ to the corresponding User Group; this array represents all grouping and/or\
        \ associations that would have to be removed to deprovision the User Group\
        \ from this Active Directory instance.\n\nSee `/members` and `/associations`\
        \ endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl\
        \ -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/usergroups\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_activeDirectoryTraverseUserGroup"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        description: "ObjectID of the Active Directory instance."
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_activeDirectoryTraverseUserGroup"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /activedirectories/{activedirectory_id}/agents:
    get:
      tags:
      - "Active Directory"
      summary: "List Active Directory Agents"
      description: "This endpoint allows you to list all your Active Directory Agents\
        \ for a given Instance.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "activedirectories_agentsList"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/active-directory-agent-list-output"
      security:
      - x-api-key: []
      x-stoplight:
        id: "activedirectories_agentsList"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Active Directory"
      summary: "Create a new Active Directory Agent"
      description: "This endpoint allows you to create a new Active Directory Agent.\n\
        \n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{}'\n```"
      operationId: "activedirectories_agentsPost"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/active-directory-agent-input"
        x-exportParamName: "Body"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/active-directory-agent-get-output"
      security:
      - x-api-key: []
      x-stoplight:
        id: "activedirectories_agentsPost"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /activedirectories/{activedirectory_id}/agents/{agent_id}:
    get:
      tags:
      - "Active Directory"
      summary: "Get Active Directory Agent"
      description: "This endpoint returns a specific active directory agent.\n\n####\
        \ Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id}\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "activedirectories_agentsGet"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - name: "agent_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AgentId"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/active-directory-agent-list-output"
      x-stoplight:
        id: "activedirectories_agentsGet"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    delete:
      tags:
      - "Active Directory"
      summary: "Delete Active Directory Agent"
      operationId: "activedirectories_agentsDelete"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - name: "agent_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AgentId"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        204:
          description: ""
      x-stoplight:
        id: "activedirectories_agentsDelete"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /applications/{application_id}/associations:
    get:
      tags:
      - "Graph"
      - "Applications"
      summary: "List the associations of an Application"
      description: "This endpoint will return the _direct_ associations of an Application.\
        \ A direct association can be a non-homogeneous relationship between 2 different\
        \ objects, for example Applications and User Groups.\n\n\n#### Sample Request\n\
        ```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/applications/{Application_ID}/associations?targets=user_group\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_applicationAssociationsList"
      parameters:
      - name: "application_id"
        in: "path"
        description: "ObjectID of the Application."
        required: true
        type: "string"
        x-exportParamName: "ApplicationId"
      - name: "targets"
        in: "query"
        description: ""
        required: true
        type: "array"
        items:
          type: "string"
          enum:
          - "active_directory"
          - "application"
          - "command"
          - "g_suite"
          - "ldap_server"
          - "office_365"
          - "policy"
          - "radius_server"
          - "system"
          - "system_group"
          - "user"
          - "user_group"
        x-exportParamName: "Targets"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphConnection"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_applicationAssociationsList"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Graph"
      - "Applications"
      summary: "Manage the associations of an Application"
      description: "This endpoint allows you to manage the _direct_ associations of\
        \ an Application. A direct association can be a non-homogeneous relationship\
        \ between 2 different objects, for example Application and User Groups.\n\n\
        #### Sample Request\n```\ncurl -X POST 'https://console.jumpcloud.com/api/v2/applications/{Application_ID}/associations'\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"\
        type\": \"user_group\",\n    \"id\": \"{Group_ID}\"\n}'\n```"
      operationId: "graph_applicationAssociationsPost"
      parameters:
      - name: "application_id"
        in: "path"
        description: "ObjectID of the Application."
        required: true
        type: "string"
        x-exportParamName: "ApplicationId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/GraphManagementReq"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        204:
          description: "OK"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_applicationAssociationsPost"
        beforeScript: "function (ctx, request) {\n  // Your javascript code here.\n\
          }"
        afterScript: "null"
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    x-swagger-jumpcloud-auto-insert: true
  /applications/{application_id}/users:
    get:
      tags:
      - "Graph"
      - "Applications"
      summary: "List the Users bound to an Application"
      description: "This endpoint will return all Users bound to an Application, either\
        \ directly or indirectly, essentially traversing the JumpCloud Graph for your\
        \ Organization.\n\nEach element will contain the type, id, attributes and\
        \ paths.\n\nThe `attributes` object is a key/value hash of compiled graph\
        \ attributes for all paths followed.\n\nThe `paths` array enumerates each\
        \ path from this Application to the corresponding User; this array represents\
        \ all grouping and/or associations that would have to be removed to deprovision\
        \ the User from this Application.\n\nSee `/members` and `/associations` endpoints\
        \ to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/applications/{Application_ID}/users\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_applicationTraverseUser"
      parameters:
      - name: "application_id"
        in: "path"
        description: "ObjectID of the Application."
        required: true
        type: "string"
        x-exportParamName: "ApplicationId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_applicationTraverseUser"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /applications/{application_id}/usergroups:
    get:
      tags:
      - "Graph"
      - "Applications"
      summary: "List the User Groups bound to an Application"
      description: "This endpoint will return all Users Groups bound to an Application,\
        \ either directly or indirectly, essentially traversing the JumpCloud Graph\
        \ for your Organization.\n\nEach element will contain the group's type, id,\
        \ attributes and paths.\n\nThe `attributes` object is a key/value hash of\
        \ compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates\
        \  each path from this Application to the corresponding User Group; this array\
        \ represents all grouping and/or associations that would have to be removed\
        \ to deprovision the User Group from this Application.\n\nSee `/members` and\
        \ `/associations` endpoints to manage those collections.\n\n#### Sample Request\n\
        ```\ncurl -X GET https://console.jumpcloud.com/api/v2/applications/{Application_ID}/usergroups\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_applicationTraverseUserGroup"
      parameters:
      - name: "application_id"
        in: "path"
        description: "ObjectID of the Application."
        required: true
        type: "string"
        x-exportParamName: "ApplicationId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_applicationTraverseUserGroup"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /bulk/users/{job_id}/results:
    get:
      tags:
      - "Bulk Job Requests"
      summary: "List Bulk Users Results"
      description: "This endpoint will return the results of particular user import\
        \ or update job request.\n\n#### Sample Request\n```\ncurl -X GET \\\n  https://console.jumpcloud.com/api/v2/bulk/users/{ImportJobID}/results\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "bulk_usersCreateResults"
      parameters:
      - name: "job_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/job-workresult"
      security:
      - x-api-key: []
      x-stoplight:
        id: "bulk_usersCreateResults"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /bulk/users:
    post:
      tags:
      - "Bulk Job Requests"
      summary: "Bulk Users Create"
      description: "The endpoint allows you to create a bulk job to asynchronously\
        \ create users. See [Create a System User](https://docs.jumpcloud.com/1.0/systemusers/create-a-system-user)\
        \ for full list of attributes.\n\n#### Sample Request \n```\ncurl -X POST\
        \ https://console.jumpcloud.com/api/v2/bulk/users \\\n  -H 'Accept: application/json'\
        \ \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\
        \ \\\n  -d '[\n\t{\n\t\t\"email\":\"{email}\",\n\t\t\"firstname\":\"{firstname}\"\
        ,\n\t\t\"lastname\":\"{firstname}\",\n\t\t\"username\":\"{username}\",\n\t\
        \t\"attributes\":[\n\t\t\t{\"name\":\"EmployeeID\",\"value\":\"0000\"},\n\t\
        \t\t{\"name\":\"Custom\",\"value\":\"attribute\"}\n\t\t]\n\t}\n]\n```"
      operationId: "bulk_usersCreate"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          type: "array"
          items:
            $ref: "#/definitions/bulk-user-create"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/job-id"
      security:
      - x-api-key: []
      x-stoplight:
        id: "bulk_usersCreate"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    patch:
      tags:
      - "Bulk Job Requests"
      summary: "Bulk Users Update"
      description: "The endpoint allows you to create a bulk job to asynchronously\
        \ update users. See [Update a System User](https://docs.jumpcloud.com/1.0/systemusers/update-a-system-user)\
        \ for full list of attributes.\n\n#### Sample Request \n```\ncurl -X PATCH\
        \ https://console.jumpcloud.com/api/v2/bulk/users \\\n  -H 'Accept: application/json'\
        \ \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\
        \ \\\n  -d '[\n\t{\n\t  \"id\":\"5be9fb4ddb01290001e85109\",\n\t\t\"firstname\"\
        :\"{UPDATED_FIRSTNAME}\",\n\t\t\"department\":\"{UPDATED_DEPARTMENT}\",\n\t\
        \t\"attributes\":[\n\t\t\t{\"name\":\"Custom\",\"value\":\"{ATTRIBUTE_VALUE}\"\
        }\n\t\t]\n\t},\n\t{\n\t  \"id\":\"5be9fb4ddb01290001e85109\",\n\t\t\"firstname\"\
        :\"{UPDATED_FIRSTNAME}\",\n\t\t\"costCenter\":\"{UPDATED_COST_CENTER}\",\n\
        \t\t\"phoneNumbers\":[\n\t\t\t{\"type\":\"home\",\"number\":\"{HOME_PHONE_NUMBER}\"\
        },\n\t\t\t{\"type\":\"work\",\"number\":\"{WORK_PHONE_NUMBER}\"}\n\t\t]\n\t\
        }\n]\n```"
      operationId: "bulk_usersUpdate"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          type: "array"
          items:
            $ref: "#/definitions/bulk-user-update"
        x-exportParamName: "Body"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/job-id"
      security:
      - x-api-key: []
      x-stoplight:
        id: "bulk_usersUpdate"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /jobs/{id}/results:
    get:
      tags:
      - "Bulk Job Requests"
      summary: "List Job Results"
      description: "This endpoint will return the results of particular import job\
        \ request.\n\n#### Sample Request\n```\ncurl -X GET \\\n  https://console.jumpcloud.com/api/v2/jobs/{ImportJobID}/results\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "jobs_results"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/job-workresult"
      security:
      - x-api-key: []
      x-stoplight:
        id: "jobs_results"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /jobs/{id}:
    get:
      tags:
      - "Bulk Job Requests"
      summary: "Get Job (incomplete)"
      description: "**This endpoint is not complete and should remain hidden as it's\
        \ not functional yet.**"
      operationId: "jobs_get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/job-details"
      security:
      - x-api-key: []
      x-stoplight:
        id: "jobs_get"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /commands/{command_id}/associations:
    get:
      tags:
      - "Graph"
      - "Commands"
      summary: "List the associations of a Command"
      description: "This endpoint will return the _direct_ associations of this Command.\n\
        \nA direct association can be a non-homogeneous relationship between 2 different\
        \ objects, for example Commands and User Groups.\n\n\n#### Sample Request\n\
        ```\ncurl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/associations?targets=system_group\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_commandAssociationsList"
      parameters:
      - name: "command_id"
        in: "path"
        description: "ObjectID of the Command."
        required: true
        type: "string"
        x-exportParamName: "CommandId"
      - name: "targets"
        in: "query"
        description: ""
        required: true
        type: "array"
        items:
          type: "string"
          enum:
          - "active_directory"
          - "application"
          - "command"
          - "g_suite"
          - "ldap_server"
          - "office_365"
          - "policy"
          - "radius_server"
          - "system"
          - "system_group"
          - "user"
          - "user_group"
        x-exportParamName: "Targets"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphConnection"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_commandAssociationsList"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Graph"
      - "Commands"
      summary: "Manage the associations of a Command"
      description: "This endpoint will allow you to manage the _direct_ associations\
        \ of this Command.\n\nA direct association can be a non-homogeneous relationship\
        \ between 2 different objects, for example Commands and User Groups.\n\n\n\
        #### Sample Request\n```\n curl -X POST https://console.jumpcloud.com/api/v2/commands/{Command_ID}/associations\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"\
        type\": \"system_group\",\n    \"id\": \"Group_ID\"\n}'\n```"
      operationId: "graph_commandAssociationsPost"
      parameters:
      - name: "command_id"
        in: "path"
        description: "ObjectID of the Command."
        required: true
        type: "string"
        x-exportParamName: "CommandId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/GraphManagementReq"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        204:
          description: "OK"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_commandAssociationsPost"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    x-swagger-jumpcloud-auto-insert: true
  /commands/{command_id}/systems:
    get:
      tags:
      - "Graph"
      - "Commands"
      summary: "List the Systems bound to a Command"
      description: "This endpoint will return all Systems bound to a Command, either\
        \ directly or indirectly, essentially traversing the JumpCloud Graph for your\
        \ Organization.\n\nEach element will contain the type, id, attributes and\
        \ paths.\n\nThe `attributes` object is a key/value hash of compiled graph\
        \ attributes for all paths followed.\n\nThe `paths` array enumerates each\
        \ path from this Command to the corresponding System; this array represents\
        \ all grouping and/or associations that would have to be removed to deprovision\
        \ the System from this Command.\n\nSee `/members` and `/associations` endpoints\
        \ to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/systems\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_commandTraverseSystem"
      parameters:
      - name: "command_id"
        in: "path"
        description: "ObjectID of the Command."
        required: true
        type: "string"
        x-exportParamName: "CommandId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_commandTraverseSystem"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /commands/{command_id}/systemgroups:
    get:
      tags:
      - "Graph"
      - "Commands"
      summary: "List the System Groups bound to a Command"
      description: "This endpoint will return all System Groups bound to a Command,\
        \ either directly or indirectly, essentially traversing the JumpCloud Graph\
        \ for your Organization.\n\nEach element will contain the group's type, id,\
        \ attributes and paths.\n\nThe `attributes` object is a key/value hash of\
        \ compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates\
        \ each path from this Command to the corresponding System Group; this array\
        \ represents all grouping and/or associations that would have to be removed\
        \ to deprovision the System Group from this Command.\n\nSee `/members` and\
        \ `/associations` endpoints to manage those collections.\n\n#### Sample Request\n\
        ```\ncurl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/systemgroups\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_commandTraverseSystemGroup"
      parameters:
      - name: "command_id"
        in: "path"
        description: "ObjectID of the Command."
        required: true
        type: "string"
        x-exportParamName: "CommandId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_commandTraverseSystemGroup"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /directories:
    get:
      tags:
      - "Directories"
      summary: "List All Directories"
      description: "This endpoint returns all active directories (LDAP, O365 Suite,\
        \ G-Suite).\n\n#### Sample Request\n```\n curl -X GET https://console.jumpcloud.com/api/v2/directories\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "directories_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted, the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Directory"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - x-api-key: []
      x-stoplight:
        id: "directories_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /duo/accounts:
    get:
      tags:
      - "Duo"
      summary: "List Duo Acounts"
      description: "This endpoint returns all the Duo accounts for your organization.\
        \ Note: There can currently only be one Duo account for your organization.\n\
        \n#### Sample Request\n```\ncurl https://console.jumpcloud.com/api/v2/duo/accounts\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "duo_accountList"
      parameters:
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DuoAccount"
      security:
      - x-api-key: []
      x-stoplight:
        id: "duo_accountList"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Duo"
      summary: "Create Duo Account"
      description: "Registers a Duo account for an organization. Only one Duo account\
        \ will be allowed,\nin case an organization has a Duo account already a 409\
        \ (Conflict) code will be returned.\n\n#### Sample Request\n```\n  curl -X\
        \ POST https://console.jumpcloud.com/api/v2/duo/accounts \\\n  -H 'accept:\
        \ application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key:\
        \ {API_KEY}' \\\n  -d '{}'\n```"
      operationId: "duo_accountPost"
      parameters:
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/DuoAccount"
        400:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        401:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        403:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        404:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        409:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        500:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
      security:
      - x-api-key: []
      x-stoplight:
        id: "duo_accountPost"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /duo/accounts/{id}:
    get:
      tags:
      - "Duo"
      summary: "Get a Duo Acount"
      description: "This endpoint returns a specific Duo account.\n\n#### Sample Request\n\
        ```\ncurl https://console.jumpcloud.com/api/v2/duo/accounts/{id} \\\n  -H\
        \ 'accept: application/json' \\\n  -H 'content-type: application/json' \\\n\
        \  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "duo_accountGet"
      parameters:
      - name: "id"
        in: "path"
        description: "ObjectID of the Duo Account"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/DuoAccount"
      security:
      - x-api-key: []
      x-stoplight:
        id: "duo_accountGet"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    delete:
      tags:
      - "Duo"
      summary: "Delete a Duo Account"
      description: "Removes the specified Duo account, an error will be returned if\
        \ the account has some Duo application used in a protected resource.\n\n####\
        \ Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/duo/accounts/{id}\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "duo_accountDelete"
      parameters:
      - name: "id"
        in: "path"
        description: "ObjectID of the Duo Account"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/DuoAccount"
        400:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        401:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        403:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        404:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        409:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        500:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
      security:
      - x-api-key: []
      x-stoplight:
        id: "duo_accountDelete"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /duo/accounts/{account_id}/applications:
    get:
      tags:
      - "Duo"
      summary: "List Duo Applications"
      description: "This endpoint returns all the Duo applications for the specified\
        \ Duo account. Note: There can currently only be one Duo application for your\
        \ organization.\n\n#### Sample Request\n```\n  curl https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "duo_applicationList"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DuoApplication"
        400:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        401:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        403:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        404:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        409:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        500:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
      security:
      - x-api-key: []
      x-stoplight:
        id: "duo_applicationList"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Duo"
      summary: "Create Duo Application"
      description: "Creates a Duo application for your organization and the specified\
        \ account.\n\n#### Sample Request\n```\n  curl -X POST https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"name\": \"Application\
        \ Name\",\n    \"apiHost\": \"api-1234.duosecurity.com\",\n    \"integrationKey\"\
        : \"1234\",\n    \"secretKey\": \"5678\"\n  }'\n```"
      operationId: "duo_applicationPost"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/DuoApplicationReq"
        x-exportParamName: "Body"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/DuoApplication"
        400:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        401:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        403:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        404:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        409:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        500:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
      security:
      - x-api-key: []
      x-stoplight:
        id: "duo_applicationPost"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /duo/accounts/{account_id}/applications/{application_id}:
    get:
      tags:
      - "Duo"
      summary: "Get a Duo application"
      description: "This endpoint returns a specific Duo application that is associated\
        \ with the specified Duo account.\n\n#### Sample Request\n```\n  curl https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications/{APPLICATION_ID}\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "duo_applicationGet"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "application_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ApplicationId"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/DuoApplication"
        400:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        401:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        403:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        404:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        409:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        500:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
      security:
      - x-api-key: []
      x-stoplight:
        id: "duo_applicationGet"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    put:
      tags:
      - "Duo"
      summary: "Update Duo Application"
      description: "Updates the specified Duo application.\n\n#### Sample Request\n\
        ```\n  curl -X PUT https://console.jumpcloud.com/api/v2/duo/accounts/{ACCOUNT_ID}/applications/{APPLICATION_ID}\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"name\": \"Application\
        \ Name\",\n    \"apiHost\": \"api-1234.duosecurity.com\",\n    \"integrationKey\"\
        : \"1234\",\n    \"secretKey\": \"5678\"\n  }'\n```"
      operationId: "duo_applicationUpdate"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
[...]
