---
swagger: "2.0"
info:
  description: " JumpCloud's V2 API. This set of endpoints allows JumpCloud customers\
    \ to manage objects, groupings and mappings and interact with the JumpCloud Graph."
  version: "2.0"
  title: "JumpCloud APIs"
host: "console.jumpcloud.com"
basePath: "/api/v2"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /activedirectories:
    get:
      tags:
      - "Active Directory"
      summary: "List Active Directories"
      description: "This endpoint allows you to list all your Active Directory Instances.\n\
        \n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "activedirectories_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted, the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/active-directory-output"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "activedirectories_list"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    post:
      tags:
      - "Active Directory"
      summary: "Create a new Active Directory"
      description: "This endpoint allows you to create a new Active Directory.\n\n\
        \n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/activedirectories/\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n        \"domain\": \"{DC=AD_domain_name;DC=com}\"\
        \n}\n'\n```"
      operationId: "activedirectories_post"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/active-directory-input"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/active-directory-output"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "activedirectories_post"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: false
  /activedirectories/{activedirectory_id}/agents:
    get:
      tags:
      - "Active Directory"
      summary: "List Active Directory Agents"
      description: "This endpoint allows you to list all your Active Directory Agents\
        \ for a given Instance.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "activedirectories_agentsList"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/active-directory-agent-list-output"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "activedirectories_agentsList"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: false
    post:
      tags:
      - "Active Directory"
      summary: "Create a new Active Directory Agent"
      description: "This endpoint allows you to create a new Active Directory Agent.\n\
        \n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{}'\n```"
      operationId: "activedirectories_agentsPost"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/active-directory-agent-input"
        x-exportParamName: "Body"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/active-directory-agent-get-output"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "activedirectories_agentsPost"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: false
  /activedirectories/{activedirectory_id}/agents/{agent_id}:
    get:
      tags:
      - "Active Directory"
      summary: "Get Active Directory Agent"
      description: "This endpoint returns a specific active directory agent.\n\n####\
        \ Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{activedirectory_id}/agents/{agent_id}\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "activedirectories_agentsGet"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - name: "agent_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AgentId"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/active-directory-agent-list-output"
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "activedirectories_agentsGet"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: false
    delete:
      tags:
      - "Active Directory"
      summary: "Delete Active Directory Agent"
      operationId: "activedirectories_agentsDelete"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - name: "agent_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AgentId"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        204:
          description: ""
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "activedirectories_agentsDelete"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: false
  /activedirectories/{activedirectory_id}/associations:
    get:
      tags:
      - "Graph"
      - "Active Directory"
      summary: "List the associations of an Active Directory instance"
      description: "This endpoint returns the direct associations of this Active Directory\
        \ instance.\n\nA direct association can be a non-homogeneous relationship\
        \ between 2 different objects, for example Active Directory and Users.\n\n\
        \n#### Sample Request\n```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/associations?targets=user\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_activeDirectoryAssociationsList"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - name: "targets"
        in: "query"
        description: ""
        required: true
        type: "array"
        items:
          type: "string"
          enum:
          - "active_directory"
          - "application"
          - "command"
          - "g_suite"
          - "ldap_server"
          - "office_365"
          - "policy"
          - "radius_server"
          - "system"
          - "system_group"
          - "user"
          - "user_group"
        x-exportParamName: "Targets"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphConnection"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "graph_activeDirectoryAssociationsList"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    post:
      tags:
      - "Graph"
      - "Active Directory"
      summary: "Manage the associations of an Active Directory instance"
      description: "This endpoint allows you to manage the _direct_ associations of\
        \ an Active Directory instance.\n\nA direct association can be a non-homogeneous\
        \ relationship between 2 different objects, for example Active Directory and\
        \ Users.\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/activedirectories/{AD_Instance_ID}/associations\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n        \"op\": \"add\",\n\
        \        \"type\": \"user\",\n        \"id\": \"{User_ID}\"\n}\n'\n```"
      operationId: "graph_activeDirectoryAssociationsPost"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/GraphManagementReq"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        204:
          description: ""
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "graph_activeDirectoryAssociationsPost"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: false
  /activedirectories/{activedirectory_id}/usergroups:
    get:
      tags:
      - "Graph"
      - "Active Directory"
      summary: "List the User Groups bound to an Active Directory instance"
      description: "This endpoint will return all Users Groups bound to an Active\
        \ Directory instance, either directly or indirectly, essentially traversing\
        \ the JumpCloud Graph for your Organization.\n\nEach element will contain\
        \ the group's type, id, attributes and paths.\n\nThe `attributes` object is\
        \ a key/value hash of compiled graph attributes for all paths followed.\n\n\
        The `paths` array enumerates each path from this Active Directory instance\
        \ to the corresponding User Group; this array represents all grouping and/or\
        \ associations that would have to be removed to deprovision the User Group\
        \ from this Active Directory instance.\n\nSee `/members` and `/associations`\
        \ endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl\
        \ -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/usergroups\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_activeDirectoryTraverseUserGroup"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        description: "ObjectID of the Active Directory instance."
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "graph_activeDirectoryTraverseUserGroup"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /activedirectories/{id}:
    get:
      tags:
      - "Active Directory"
      summary: "Get an Active Directory"
      description: "This endpoint returns a specific Active Directory.\n\n#### Sample\
        \ Request\n\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "activedirectories_get"
      parameters:
      - name: "id"
        in: "path"
        description: "ObjectID of this Active Directory instance."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/active-directory-output"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "activedirectories_get"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    delete:
      tags:
      - "Active Directory"
      summary: "Delete an Active Directory"
      description: "This endpoint allows you to delete an Active Directory Instance.\n\
        \n#### Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY'\n  ```"
      operationId: "activedirectories_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "ObjectID of this Active Directory instance."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        204:
          description: ""
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "activedirectories_delete"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: false
  /applications/{application_id}/associations:
    get:
      tags:
      - "Graph"
      - "Applications"
      summary: "List the associations of an Application"
      description: "This endpoint will return the _direct_ associations of an Application.\
        \ A direct association can be a non-homogeneous relationship between 2 different\
        \ objects, for example Applications and User Groups.\n\n\n#### Sample Request\n\
        ```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/applications/{Application_ID}/associations?targets=user_group\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_applicationAssociationsList"
      parameters:
      - name: "application_id"
        in: "path"
        description: "ObjectID of the Application."
        required: true
        type: "string"
        x-exportParamName: "ApplicationId"
      - name: "targets"
        in: "query"
        description: ""
        required: true
        type: "array"
        items:
          type: "string"
          enum:
          - "active_directory"
          - "application"
          - "command"
          - "g_suite"
          - "ldap_server"
          - "office_365"
          - "policy"
          - "radius_server"
          - "system"
          - "system_group"
          - "user"
          - "user_group"
        x-exportParamName: "Targets"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphConnection"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "graph_applicationAssociationsList"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    post:
      tags:
      - "Graph"
      - "Applications"
      summary: "Manage the associations of an Application"
      description: "This endpoint allows you to manage the _direct_ associations of\
        \ an Application. A direct association can be a non-homogeneous relationship\
        \ between 2 different objects, for example Application and User Groups.\n\n\
        #### Sample Request\n```\ncurl -X POST 'https://console.jumpcloud.com/api/v2/applications/{Application_ID}/associations'\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"\
        type\": \"user_group\",\n    \"id\": \"{Group_ID}\"\n}'\n```"
      operationId: "graph_applicationAssociationsPost"
      parameters:
      - name: "application_id"
        in: "path"
        description: "ObjectID of the Application."
        required: true
        type: "string"
        x-exportParamName: "ApplicationId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/GraphManagementReq"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        204:
          description: "OK"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: "null"
        beforeScript: "function (ctx, request) {\n  // Your javascript code here.\n\
          }"
        id: "graph_applicationAssociationsPost"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    x-swagger-jumpcloud-auto-insert: true
  /applications/{application_id}/usergroups:
    get:
      tags:
      - "Graph"
      - "Applications"
      summary: "List the User Groups bound to an Application"
      description: "This endpoint will return all Users Groups bound to an Application,\
        \ either directly or indirectly, essentially traversing the JumpCloud Graph\
        \ for your Organization.\n\nEach element will contain the group's type, id,\
        \ attributes and paths.\n\nThe `attributes` object is a key/value hash of\
        \ compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates\
        \  each path from this Application to the corresponding User Group; this array\
        \ represents all grouping and/or associations that would have to be removed\
        \ to deprovision the User Group from this Application.\n\nSee `/members` and\
        \ `/associations` endpoints to manage those collections.\n\n#### Sample Request\n\
        ```\ncurl -X GET https://console.jumpcloud.com/api/v2/applications/{Application_ID}/usergroups\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_applicationTraverseUserGroup"
      parameters:
      - name: "application_id"
        in: "path"
        description: "ObjectID of the Application."
        required: true
        type: "string"
        x-exportParamName: "ApplicationId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "graph_applicationTraverseUserGroup"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /applications/{application_id}/users:
    get:
      tags:
      - "Graph"
      - "Applications"
      summary: "List the Users bound to an Application"
      description: "This endpoint will return all Users bound to an Application, either\
        \ directly or indirectly, essentially traversing the JumpCloud Graph for your\
        \ Organization.\n\nEach element will contain the type, id, attributes and\
        \ paths.\n\nThe `attributes` object is a key/value hash of compiled graph\
        \ attributes for all paths followed.\n\nThe `paths` array enumerates each\
        \ path from this Application to the corresponding User; this array represents\
        \ all grouping and/or associations that would have to be removed to deprovision\
        \ the User from this Application.\n\nSee `/members` and `/associations` endpoints\
        \ to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/applications/{Application_ID}/users\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_applicationTraverseUser"
      parameters:
      - name: "application_id"
        in: "path"
        description: "ObjectID of the Application."
        required: true
        type: "string"
        x-exportParamName: "ApplicationId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "graph_applicationTraverseUser"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /bulk/users:
    post:
      tags:
      - "Bulk Job Requests"
      summary: "Bulk Users Create"
      description: "The endpoint allows you to create a bulk job to asynchronously\
        \ create users. See [Create a System User](https://docs.jumpcloud.com/1.0/systemusers/create-a-system-user)\
        \ for full list of attributes.\n\n#### Sample Request \n```\ncurl -X POST\
        \ https://console.jumpcloud.com/api/v2/bulk/users \\\n  -H 'Accept: application/json'\
        \ \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\
        \ \\\n  -d '[\n\t{\n\t\t\"email\":\"{email}\",\n\t\t\"firstname\":\"{firstname}\"\
        ,\n\t\t\"lastname\":\"{firstname}\",\n\t\t\"username\":\"{username}\",\n\t\
        \t\"attributes\":[\n\t\t\t{\"name\":\"EmployeeID\",\"value\":\"0000\"},\n\t\
        \t\t{\"name\":\"Custom\",\"value\":\"attribute\"}\n\t\t]\n\t}\n]\n```"
      operationId: "bulk_usersCreate"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          type: "array"
          items:
            $ref: "#/definitions/bulk-user-create"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/job-id"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "bulk_usersCreate"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    patch:
      tags:
      - "Bulk Job Requests"
      summary: "Bulk Users Update"
      description: "The endpoint allows you to create a bulk job to asynchronously\
        \ update users. See [Update a System User](https://docs.jumpcloud.com/1.0/systemusers/update-a-system-user)\
        \ for full list of attributes.\n\n#### Sample Request \n```\ncurl -X PATCH\
        \ https://console.jumpcloud.com/api/v2/bulk/users \\\n  -H 'Accept: application/json'\
        \ \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\
        \ \\\n  -d '[\n\t{\n\t  \"id\":\"5be9fb4ddb01290001e85109\",\n\t\t\"firstname\"\
        :\"{UPDATED_FIRSTNAME}\",\n\t\t\"department\":\"{UPDATED_DEPARTMENT}\",\n\t\
        \t\"attributes\":[\n\t\t\t{\"name\":\"Custom\",\"value\":\"{ATTRIBUTE_VALUE}\"\
        }\n\t\t]\n\t},\n\t{\n\t  \"id\":\"5be9fb4ddb01290001e85109\",\n\t\t\"firstname\"\
        :\"{UPDATED_FIRSTNAME}\",\n\t\t\"costCenter\":\"{UPDATED_COST_CENTER}\",\n\
        \t\t\"phoneNumbers\":[\n\t\t\t{\"type\":\"home\",\"number\":\"{HOME_PHONE_NUMBER}\"\
        },\n\t\t\t{\"type\":\"work\",\"number\":\"{WORK_PHONE_NUMBER}\"}\n\t\t]\n\t\
        }\n]\n```"
      operationId: "bulk_usersUpdate"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          type: "array"
          items:
            $ref: "#/definitions/bulk-user-update"
        x-exportParamName: "Body"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/job-id"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "bulk_usersUpdate"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /bulk/users/{job_id}/results:
    get:
      tags:
      - "Bulk Job Requests"
      summary: "List Bulk Users Results"
      description: "This endpoint will return the results of particular user import\
        \ or update job request.\n\n#### Sample Request\n```\ncurl -X GET \\\n  https://console.jumpcloud.com/api/v2/bulk/users/{ImportJobID}/results\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "bulk_usersCreateResults"
      parameters:
      - name: "job_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "JobId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/job-workresult"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "bulk_usersCreateResults"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /commands/{command_id}/associations:
    get:
      tags:
      - "Graph"
      - "Commands"
      summary: "List the associations of a Command"
      description: "This endpoint will return the _direct_ associations of this Command.\n\
        \nA direct association can be a non-homogeneous relationship between 2 different\
        \ objects, for example Commands and User Groups.\n\n\n#### Sample Request\n\
        ```\ncurl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/associations?targets=system_group\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_commandAssociationsList"
      parameters:
      - name: "command_id"
        in: "path"
        description: "ObjectID of the Command."
        required: true
        type: "string"
        x-exportParamName: "CommandId"
      - name: "targets"
        in: "query"
        description: ""
        required: true
        type: "array"
        items:
          type: "string"
          enum:
          - "active_directory"
          - "application"
          - "command"
          - "g_suite"
          - "ldap_server"
          - "office_365"
          - "policy"
          - "radius_server"
          - "system"
          - "system_group"
          - "user"
          - "user_group"
        x-exportParamName: "Targets"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphConnection"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "graph_commandAssociationsList"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    post:
      tags:
      - "Graph"
      - "Commands"
      summary: "Manage the associations of a Command"
      description: "This endpoint will allow you to manage the _direct_ associations\
        \ of this Command.\n\nA direct association can be a non-homogeneous relationship\
        \ between 2 different objects, for example Commands and User Groups.\n\n\n\
        #### Sample Request\n```\n curl -X POST https://console.jumpcloud.com/api/v2/commands/{Command_ID}/associations\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"\
        type\": \"system_group\",\n    \"id\": \"Group_ID\"\n}'\n```"
      operationId: "graph_commandAssociationsPost"
      parameters:
      - name: "command_id"
        in: "path"
        description: "ObjectID of the Command."
        required: true
        type: "string"
        x-exportParamName: "CommandId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/GraphManagementReq"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        204:
          description: "OK"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "graph_commandAssociationsPost"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    x-swagger-jumpcloud-auto-insert: true
  /commands/{command_id}/systemgroups:
    get:
      tags:
      - "Graph"
      - "Commands"
      summary: "List the System Groups bound to a Command"
      description: "This endpoint will return all System Groups bound to a Command,\
        \ either directly or indirectly, essentially traversing the JumpCloud Graph\
        \ for your Organization.\n\nEach element will contain the group's type, id,\
        \ attributes and paths.\n\nThe `attributes` object is a key/value hash of\
        \ compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates\
        \ each path from this Command to the corresponding System Group; this array\
        \ represents all grouping and/or associations that would have to be removed\
        \ to deprovision the System Group from this Command.\n\nSee `/members` and\
        \ `/associations` endpoints to manage those collections.\n\n#### Sample Request\n\
        ```\ncurl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/systemgroups\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_commandTraverseSystemGroup"
      parameters:
      - name: "command_id"
        in: "path"
        description: "ObjectID of the Command."
        required: true
        type: "string"
        x-exportParamName: "CommandId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "graph_commandTraverseSystemGroup"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /commands/{command_id}/systems:
    get:
      tags:
      - "Graph"
      - "Commands"
      summary: "List the Systems bound to a Command"
      description: "This endpoint will return all Systems bound to a Command, either\
        \ directly or indirectly, essentially traversing the JumpCloud Graph for your\
        \ Organization.\n\nEach element will contain the type, id, attributes and\
        \ paths.\n\nThe `attributes` object is a key/value hash of compiled graph\
        \ attributes for all paths followed.\n\nThe `paths` array enumerates each\
        \ path from this Command to the corresponding System; this array represents\
        \ all grouping and/or associations that would have to be removed to deprovision\
        \ the System from this Command.\n\nSee `/members` and `/associations` endpoints\
        \ to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/systems\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_commandTraverseSystem"
      parameters:
      - name: "command_id"
        in: "path"
        description: "ObjectID of the Command."
        required: true
        type: "string"
        x-exportParamName: "CommandId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "graph_commandTraverseSystem"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /directories:
    get:
      tags:
      - "Directories"
      summary: "List All Directories"
      description: "This endpoint returns all active directories (LDAP, O365 Suite,\
        \ G-Suite).\n\n#### Sample Request\n```\n curl -X GET https://console.jumpcloud.com/api/v2/directories\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "directories_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted, the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Directory"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "directories_list"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /duo/accounts:
    get:
      tags:
      - "Duo"
      summary: "List Duo Acounts"
      description: "#### Sample Request\n```\ncurl https://console.jumpcloud.com/api/v2/duo/accounts\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n```"
      operationId: "duo_accountList"
      parameters:
      - name: "x-api-key"
        in: "header"
        required: true
        type: "string"
        x-exportParamName: "XApiKey"
      - name: "Accept"
        in: "header"
        required: false
        type: "string"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DuoAccount"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "duo_accountList"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: false
    post:
      tags:
      - "Duo"
      summary: "Create Duo Account"
      description: "Registers a Duo account for an organization. Only one Duo account\
        \ will be allowed,\nin case an organization has a Duo account already a 409\
        \ (Conflict) code will be returned.\n\n#### Sample Request\n```\n  curl -X\
        \ POST https://console.jumpcloud.com/api/v2/duo/accounts \\\n  -H 'accept:\
        \ application/json' \\\n  -H 'content-type: application/json' \\\n  -H 'x-api-key:\
        \ {API_KEY}' \\\n  -d '{\n    \"registrationApplication\": {\n      \"apiHost\"\
        : \"api-1234.duosecurity.com\",\n      \"integrationKey\": \"1234\",\n   \
        \   \"secretKey\": \"5678\"\n    }\n  }'\n```"
      operationId: "duo_accountPost"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/DuoRegistrationApplicationReq"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/DuoAccount"
        400:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        401:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        403:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        404:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        409:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        500:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "duo_accountPost"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: false
  /duo/accounts/{account_id}/applications:
    get:
      tags:
      - "Duo"
      summary: "List Duo Applications"
      operationId: "duo_applicationList"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/DuoApplication"
        400:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        401:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        403:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        404:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        409:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        500:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "duo_applicationList"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: false
    post:
      tags:
      - "Duo"
      summary: "Create Duo Application"
      description: "Creates a Duo application for an organization and its account.\n\
        \n#### Sample Request\n```\n  curl -X POST https://console.jumpcloud.com/api/v2/duo/accounts/obj-id-123/applications\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"name\": \"Application\
        \ Name\",\n    \"apiHost\": \"api-1234.duosecurity.com\",\n    \"integrationKey\"\
        : \"1234\",\n    \"secretKey\": \"5678\"\n  }'\n```"
      operationId: "duo_applicationPost"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/DuoApplicationReq"
        x-exportParamName: "Body"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/DuoApplication"
        400:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        401:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        403:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        404:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        409:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        500:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "duo_applicationPost"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: false
  /duo/accounts/{account_id}/applications/{application_id}:
    get:
      tags:
      - "Duo"
      summary: "Get a Duo application"
      operationId: "duo_applicationGet"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "application_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ApplicationId"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/DuoApplication"
        400:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        401:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        403:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        404:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        409:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        500:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "duo_applicationGet"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: false
    delete:
      tags:
      - "Duo"
      summary: "Delete a Duo Application"
      operationId: "duo_applicationDelete"
      parameters:
      - name: "account_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "AccountId"
      - name: "application_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ApplicationId"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/DuoApplication"
        400:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        401:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        403:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        404:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        409:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        500:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "duo_applicationDelete"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: false
  /duo/accounts/{id}:
    get:
      tags:
      - "Duo"
      summary: "Get a Duo Acount"
      description: "#### Sample Request\n```\ncurl https://console.jumpcloud.com/api/v2/duo/accounts/{id}\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n```"
      operationId: "duo_accountGet"
      parameters:
      - name: "id"
        in: "path"
        description: "ObjectID of the Duo Account"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/DuoAccount"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "duo_accountGet"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: false
  /groups:
    get:
      tags:
      - "Groups"
      summary: "List All Groups"
      description: "This endpoint returns all Groups that exist in your organization.\n\
        \n#### Available filter fields:\n  - `name`\n  - `disabled`\n  - `type`\n\n\
        #### Sample Request\n\n```\n  curl -X GET \\\n  https://console.jumpcloud.com/api/v2/groups\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "groups_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted, the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Group"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "groups_list"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /gsuites/{gsuite_id}/associations:
    get:
      tags:
      - "Graph"
      - "G Suite"
      summary: "List the associations of a G Suite instance"
      description: "This endpoint returns the _direct_ associations of this G Suite\
        \ instance.\n\nA direct association can be a non-homogeneous relationship\
        \ between 2 different objects, for example G Suite and Users.\n\n\n#### Sample\
        \ Request\n```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/associations?targets=user_group\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_gSuiteAssociationsList"
      parameters:
      - name: "gsuite_id"
        in: "path"
        description: "ObjectID of the G Suite instance."
        required: true
        type: "string"
        x-exportParamName: "GsuiteId"
      - name: "targets"
        in: "query"
        description: ""
        required: true
        type: "array"
        items:
          type: "string"
          enum:
          - "active_directory"
          - "application"
          - "command"
          - "g_suite"
          - "ldap_server"
          - "office_365"
          - "policy"
          - "radius_server"
          - "system"
          - "system_group"
          - "user"
          - "user_group"
        x-exportParamName: "Targets"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphConnection"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "graph_gSuiteAssociationsList"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    post:
      tags:
      - "Graph"
      - "G Suite"
      summary: "Manage the associations of a G Suite instance"
      description: "This endpoint returns the _direct_ associations of this G Suite\
        \ instance.\n\nA direct association can be a non-homogeneous relationship\
        \ between 2 different objects, for example G Suite and Users.\n\n\n#### Sample\
        \ Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/associations\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"\
        type\": \"user_group\",\n    \"id\": \"{Group_ID}\"\n}'\n```"
      operationId: "graph_gSuiteAssociationsPost"
      parameters:
      - name: "gsuite_id"
        in: "path"
        description: "ObjectID of the G Suite instance."
        required: true
        type: "string"
        x-exportParamName: "GsuiteId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/GraphManagementReq"
        x-exportParamName: "Body"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        204:
          description: "OK"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "graph_gSuiteAssociationsPost"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    x-swagger-jumpcloud-auto-insert: true
  /gsuites/{gsuite_id}/translationrules:
    get:
      tags:
      - "G Suite"
      summary: "List all the G Suite Translation Rules"
      description: "This endpoint returns all graph translation rules for a specific\
        \ G Suite instance. These rules specify how JumpCloud attributes translate\
        \ to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/)\
        \ attributes.\n\n##### Sample Request\n\n```\n curl -X GET  https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "translationRules_gSuiteList"
      parameters:
      - name: "gsuite_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "GsuiteId"
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted, the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GSuiteTranslationRule"
          examples:
            application/json:
            - field: "g_suite_work_addresses"
              id: "object_id_1"
              source_type: "user"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "translationRules_gSuiteList"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    post:
      tags:
      - "G Suite"
      summary: "Create a new G Suite Translation Rule"
      description: "This endpoint allows you to create a translation rule for a specific\
        \ G Suite instance. These rules specify how JumpCloud attributes translate\
        \ to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/)\
        \ attributes.\n\n##### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n  {Translation Rule Parameters}\n\
        }'\n\n```"
      operationId: "translationRules_gSuitePost"
      parameters:
      - name: "gsuite_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "GsuiteId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/GSuiteTranslationRuleRequest"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/GSuiteTranslationRule"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "translationRules_gSuitePost"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /gsuites/{gsuite_id}/translationrules/{id}:
    get:
      tags:
      - "G Suite"
      summary: "Gets a specific G Suite translation rule"
      description: "This endpoint returns a specific translation rule for a specific\
        \ G Suite instance. These rules specify how JumpCloud attributes translate\
        \ to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/)\
        \ attributes.\n\n###### Sample Request\n\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules/{id}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "translationRules_gSuiteGet"
      parameters:
      - name: "gsuite_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "GsuiteId"
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/GSuiteTranslationRule"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "translationRules_gSuiteGet"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    delete:
      tags:
      - "G Suite"
      summary: "Deletes a G Suite translation rule"
      description: "This endpoint allows you to delete a translation rule for a specific\
        \ G Suite instance. These rules specify how JumpCloud attributes translate\
        \ to [G Suite Admin SDK](https://developers.google.com/admin-sdk/directory/)\
        \ attributes.\n\n#### Sample Request\n\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/gsuites/{gsuite_id}/translationrules/{id}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "translationRules_gSuiteDelete"
      parameters:
      - name: "gsuite_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "GsuiteId"
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        204:
          description: ""
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "translationRules_gSuiteDelete"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /gsuites/{gsuite_id}/usergroups:
    get:
      tags:
      - "Graph"
      - "G Suite"
      summary: "List the User Groups bound to a G Suite instance"
      description: "This endpoint will return all User Groups bound to an G Suite\
        \ instance, either directly or indirectly, essentially traversing the JumpCloud\
        \ Graph for your Organization.\n\nEach element will contain the group's type,\
        \ id, attributes and paths.\n\nThe `attributes` object is a key/value hash\
        \ of compiled graph attributes for all paths followed.\n\nThe `paths` array\
        \ enumerates each path from this G Suite instance to the corresponding User\
        \ Group; this array represents all grouping and/or associations that would\
        \ have to be removed to deprovision the User Group from this G Suite instance.\n\
        \nSee `/members` and `/associations` endpoints to manage those collections.\n\
        \n#### Sample Request\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{GSuite_ID}/usergroups\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_gSuiteTraverseUserGroup"
      parameters:
      - name: "gsuite_id"
        in: "path"
        description: "ObjectID of the G Suite instance."
        required: true
        type: "string"
        x-exportParamName: "GsuiteId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "graph_gSuiteTraverseUserGroup"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /gsuites/{gsuite_id}/users:
    get:
      tags:
      - "Graph"
      - "G Suite"
      summary: "List the Users bound to a G Suite instance"
      description: "This endpoint will return all Users bound to a G Suite instance,\
        \ either directly or indirectly, essentially traversing the JumpCloud Graph\
        \ for your Organization.\n\nEach element will contain the type, id, attributes\
        \ and paths.\n\nThe `attributes` object is a key/value hash of compiled graph\
        \ attributes for all paths followed.\n\nThe `paths` array enumerates each\
        \ path from this G Suite instance to the corresponding User; this array represents\
        \ all grouping and/or associations that would have to be removed to deprovision\
        \ the User from this G Suite instance.\n\nSee `/members` and `/associations`\
        \ endpoints to manage those collections.\n\n#### Sample Request\n```\n  curl\
        \ -X GET https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/users \\\
        \n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_gSuiteTraverseUser"
      parameters:
      - name: "gsuite_id"
        in: "path"
        description: "ObjectID of the G Suite instance."
        required: true
        type: "string"
        x-exportParamName: "GsuiteId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "graph_gSuiteTraverseUser"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /gsuites/{id}:
    get:
      tags:
      - "G Suite"
      summary: "Get G Suite"
      description: "This endpoint returns a specific G Suite.\n\n##### Sample Request\n\
        \n```\n curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{GSUITE_ID}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "gsuites_get"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of the GSuite."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/gsuite-output"
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "gsuites_get"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    patch:
      tags:
      - "G Suite"
      summary: "Update existing G Suite"
      description: "This endpoint allows updating some attributes of a G Suite.\n\n\
        ##### Sample Request\n\n```\ncurl -X PATCH https://console.jumpcloud.com/api/v2/gsuites/{GSUITE_ID}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"userLockoutAction\":\
        \ \"remove\",\n    \"userPasswordExpirationAction\": \"disable\"\n  }'\n```"
      operationId: "gsuites_patch"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of the GSuite."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/gsuite-patch-input"
        x-exportParamName: "Body"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/gsuite-output"
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "gsuites_patch"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /jobs/{id}:
    get:
      tags:
      - "Bulk Job Requests"
      summary: "Get Job (incomplete)"
      description: "**This endpoint is not complete and should remain hidden as it's\
        \ not functional yet.**"
      operationId: "jobs_get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/job-details"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "jobs_get"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: false
  /jobs/{id}/results:
    get:
      tags:
      - "Bulk Job Requests"
      summary: "List Job Results"
      description: "This endpoint will return the results of particular import job\
        \ request.\n\n#### Sample Request\n```\ncurl -X GET \\\n  https://console.jumpcloud.com/api/v2/jobs/{ImportJobID}/results\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "jobs_results"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/job-workresult"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "jobs_results"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: false
  /ldapservers:
    get:
      tags:
      - "LDAP Servers"
      summary: "List LDAP Servers"
      description: "This endpoint returns the object IDs of your LDAP servers.\n\n\
        \n##### Sample Request\n\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'"
      operationId: "ldapservers_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted, the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        minimum: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ldap-server-output"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "ldapservers_list"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
  /ldapservers/{id}:
    get:
      tags:
      - "LDAP Servers"
      summary: "Get LDAP Server"
      description: "This endpoint returns a specific LDAP server.\n\n##### Sample\
        \ Request\n\n```\n curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "ldapservers_get"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of the LDAP server."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ldap-server-output"
      security:
      - x-api-key: []
      x-stoplight:
        afterScript: null
        beforeScript: null
        id: "ldapservers_get"
        mock:
          dynamic: false
          enabled: false
          statusCode: 200
        public: true
    patch:
      tags:
      - "LDAP Servers"
      summary: "Update existing LDAP server"
      description: "This endpoint allows updating some attributes of an LDAP server.\n\
[...]
