---
swagger: "2.0"
info:
  description: "V1 & V2 versions of JumpCloud's API. The next version of JumpCloud's\
    \ API. This set of endpoints allows JumpCloud customers to manage objects, groupings\
    \ and mappings. The most recent version of JumpCloud's API. This set of endpoints\
    \ allows JumpCloud customers to manage objects, groupings and mappings."
  version: "2.0"
  title: "JumpCloud APIs"
host: "console.jumpcloud.com"
basePath: "/api/v2"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /activedirectories/{activedirectory_id}/associations:
    get:
      tags:
      - "Graph"
      - "Active Directory"
      summary: "List the associations of an Active Directory instance"
      description: "This endpoint returns the direct associations of this Active Directory\
        \ instance.\n\nA direct association can be a non-homogenous relationship between\
        \ 2 different objects. For example Active Directory and Users.\n\n\n#### Sample\
        \ Request\n```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/associations?targets=user\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_activeDirectoryAssociationsList"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - name: "targets"
        in: "query"
        description: ""
        required: true
        type: "array"
        items:
          type: "string"
          enum:
          - "active_directory"
          - "application"
          - "command"
          - "g_suite"
          - "ldap_server"
          - "office_365"
          - "policy"
          - "radius_server"
          - "system"
          - "system_group"
          - "user"
          - "user_group"
        x-exportParamName: "Targets"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphConnection"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_activeDirectoryAssociationsList"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Graph"
      - "Active Directory"
      summary: "Manage the associations of an Active Directory instance"
      description: "This endpoint allows you to manage the _direct_ associations of\
        \ an Active Directory instance.\n\nA direct association can be a non-homogenous\
        \ relationship between 2 different objects. For example Active Directory and\
        \ Users.\n\n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/activedirectories/{AD_Instance_ID}/associations\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n        \"op\": \"add\",\n\
        \        \"type\": \"user\",\n        \"id\": \"{User_ID}\"\n}\n'\n```"
      operationId: "graph_activeDirectoryAssociationsPost"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/GraphManagementReq"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        204:
          description: ""
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_activeDirectoryAssociationsPost"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /activedirectories:
    get:
      tags:
      - "Active Directory"
      summary: "List Active Directories"
      description: "This endpoint allows you to list all your Active Directory Instances.\
        \ \n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "activedirectories_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/active-directory-output"
      security:
      - x-api-key: []
      x-stoplight:
        id: "activedirectories_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Active Directory"
      summary: "Create a new Active Directory"
      description: "This endpoint allows you to create a new Active Directory.\n\n\
        \n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/activedirectories/\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n        \"domain\": \"{DC=AD_domain_name;DC=com}\"\
        \n}\n'\n```"
      operationId: "activedirectories_post"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/active-directory-input"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        201:
          description: ""
          schema:
            $ref: "#/definitions/active-directory-output"
      security:
      - x-api-key: []
      x-stoplight:
        id: "activedirectories_post"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /activedirectories/{id}:
    get:
      tags:
      - "Active Directory"
      summary: "Get an Active Directory"
      description: "This endpoint returns a specific Active Directory.\n\n#### Sample\
        \ Request\n\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "activedirectories_get"
      parameters:
      - name: "id"
        in: "path"
        description: "ObjectID of this Active Directory instance."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/active-directory-output"
      security:
      - x-api-key: []
      x-stoplight:
        id: "activedirectories_get"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    delete:
      tags:
      - "Active Directory"
      summary: "Delete an Active Directory"
      description: "This endpoint allows you to delete an Active Directory Instance.\n\
        \n#### Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY'\n  ```"
      operationId: "activedirectories_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "ObjectID of this Active Directory instance."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        204:
          description: ""
      security:
      - x-api-key: []
      x-stoplight:
        id: "activedirectories_delete"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /activedirectories/{activedirectory_id}/usergroups:
    get:
      tags:
      - "Graph"
      - "Active Directory"
      summary: "List the User Groups bound to an Active Directory instance"
      description: "This endpoint will return all Users Groups bound to an Active\
        \ Directory instance, either directly or indirectly, essentially traversing\
        \ the JumpCloud Graph for your Organization.\n\nEach element will contain\
        \ the group's type, id, attributes and paths.\n\nThe `attributes` object is\
        \ a key/value hash of compiled graph attributes for all paths followed.\n\n\
        The `paths` array enumerates each path from this Active Directory instance\
        \ to the corresponding User Group; this array represents all grouping and/or\
        \ associations that would have to be removed to deprovision the User Group\
        \ from this Active Directory instance.\n\nSee `/members` and `/associations`\
        \ endpoints to manage those collections.\n\n#### Sample Request\n```\ncurl\
        \ -X GET https://console.jumpcloud.com/api/v2/activedirectories/{ActiveDirectory_ID}/usergroups\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_activeDirectoryTraverseUserGroup"
      parameters:
      - name: "activedirectory_id"
        in: "path"
        description: "ObjectID of the Active Directory instance."
        required: true
        type: "string"
        x-exportParamName: "ActivedirectoryId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_activeDirectoryTraverseUserGroup"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /applications/{application_id}/associations:
    get:
      tags:
      - "Graph"
      - "Applications"
      summary: "List the associations of an Application"
      description: "This endpoint will return the _direct_ associations of an Application.\
        \ A direct association can be a non-homogenous relationship between 2 different\
        \ objects. for example Applications and User Groups.\n\n\n#### Sample Request\n\
        ```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/applications/{Application_ID}/associations?targets=user_group\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_applicationAssociationsList"
      parameters:
      - name: "application_id"
        in: "path"
        description: "ObjectID of the Application."
        required: true
        type: "string"
        x-exportParamName: "ApplicationId"
      - name: "targets"
        in: "query"
        description: ""
        required: true
        type: "array"
        items:
          type: "string"
          enum:
          - "active_directory"
          - "application"
          - "command"
          - "g_suite"
          - "ldap_server"
          - "office_365"
          - "policy"
          - "radius_server"
          - "system"
          - "system_group"
          - "user"
          - "user_group"
        x-exportParamName: "Targets"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphConnection"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_applicationAssociationsList"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Graph"
      - "Applications"
      summary: "Manage the associations of an Application"
      description: "This endpoint allows you to manage the _direct_ associations of\
        \ an Application. A direct association can be a non-homogenous relationship\
        \ between 2 different objects. for example Application and User Groups.\n\n\
        #### Sample Request\n```\ncurl -X POST 'https://console.jumpcloud.com/api/v2/applications/{Application_ID}/associations'\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"\
        type\": \"user_group\",\n    \"id\": \"{Group_ID}\"\n}'\n```"
      operationId: "graph_applicationAssociationsPost"
      parameters:
      - name: "application_id"
        in: "path"
        description: "ObjectID of the Application."
        required: true
        type: "string"
        x-exportParamName: "ApplicationId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/GraphManagementReq"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        204:
          description: "OK"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_applicationAssociationsPost"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    x-swagger-jumpcloud-auto-insert: true
  /applications/{application_id}/users:
    get:
      tags:
      - "Graph"
      - "Applications"
      summary: "List the Users bound to an Application"
      description: "This endpoint will return all Users bound to an Application, either\
        \ directly or indirectly, essentially traversing the JumpCloud Graph for your\
        \ Organization. \n\nEach element will contain the type, id, attributes and\
        \ paths.\n\nThe `attributes` object is a key/value hash of compiled graph\
        \ attributes for all paths followed.\n\nThe `paths` array enumerates each\
        \ path from this Application to the corresponding User; this array represents\
        \ all grouping and/or associations that would have to be removed to deprovision\
        \ the User from this Application.\n\nSee `/members` and `/associations` endpoints\
        \ to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/applications/{Application_ID}/users\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_applicationTraverseUser"
      parameters:
      - name: "application_id"
        in: "path"
        description: "ObjectID of the Application."
        required: true
        type: "string"
        x-exportParamName: "ApplicationId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_applicationTraverseUser"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /applications/{application_id}/usergroups:
    get:
      tags:
      - "Graph"
      - "Applications"
      summary: "List the User Groups bound to an Application"
      description: "This endpoint will return all Users Groups bound to an Application,\
        \ either directly or indirectly, essentially traversing the JumpCloud Graph\
        \ for your Organization.\n\nEach element will contain the group's type, id,\
        \ attributes and paths.\n\nThe `attributes` object is a key/value hash of\
        \ compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates\
        \  each path from this Application to the corresponding User Group; this array\
        \ represents all grouping and/or associations that would have to be removed\
        \ to deprovision the User Group from this Application.\n\nSee `/members` and\
        \ `/associations` endpoints to manage those collections.\n\n#### Sample Request\n\
        ```\ncurl -X GET https://console.jumpcloud.com/api/v2/applications/{Application_ID}/usergroups\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_applicationTraverseUserGroup"
      parameters:
      - name: "application_id"
        in: "path"
        description: "ObjectID of the Application."
        required: true
        type: "string"
        x-exportParamName: "ApplicationId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_applicationTraverseUserGroup"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /jobs/{id}/results:
    get:
      tags:
      - "Bulk Job Requests"
      summary: "List Job Results"
      description: "This endpoint will return the results of particular import job\
        \ request.\n\n###Sample Request \n```\ncurl -X GET \\\n  https://console.jumpcloud.com/api/v2/jobs/{ImportJobID}/results\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "jobs_results"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/job-workresult"
      security:
      - x-api-key: []
      x-stoplight:
        id: "jobs_results"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /jobs/{id}:
    get:
      tags:
      - "Bulk Job Requests"
      summary: "Get Job (incomplete)"
      description: "**This endpoint is not complete and should remain hidden as it's\
        \ not functional yet.**"
      operationId: "jobs_get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/job-details"
      security:
      - x-api-key: []
      x-stoplight:
        id: "jobs_get"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /commands/{command_id}/associations:
    get:
      tags:
      - "Graph"
      - "Commands"
      summary: "List the associations of a Command"
      description: "This endpoint will return the _direct_ associations of this Command.\n\
        \nA direct association can be a non-homogenous relationship between 2 different\
        \ objects. for example Commands and User Groups.\n\n\n#### Sample Request\n\
        ```\ncurl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/associations?targets=system_group\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_commandAssociationsList"
      parameters:
      - name: "command_id"
        in: "path"
        description: "ObjectID of the Command."
        required: true
        type: "string"
        x-exportParamName: "CommandId"
      - name: "targets"
        in: "query"
        description: ""
        required: true
        type: "array"
        items:
          type: "string"
          enum:
          - "active_directory"
          - "application"
          - "command"
          - "g_suite"
          - "ldap_server"
          - "office_365"
          - "policy"
          - "radius_server"
          - "system"
          - "system_group"
          - "user"
          - "user_group"
        x-exportParamName: "Targets"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphConnection"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_commandAssociationsList"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Graph"
      - "Commands"
      summary: "Manage the associations of a Command"
      description: "This endpoint will allow you to manage the _direct_ associations\
        \ of this Command.\n\nA direct association can be a non-homogenous relationship\
        \ between 2 different objects. for example Commands and User Groups.\n\n\n\
        #### Sample Request\n```\n curl -X POST https://console.jumpcloud.com/api/v2/commands/{Command_ID}/associations\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"\
        type\": \"system_group\",\n    \"id\": \"Group_ID\"\n}'\n```"
      operationId: "graph_commandAssociationsPost"
      parameters:
      - name: "command_id"
        in: "path"
        description: "ObjectID of the Command."
        required: true
        type: "string"
        x-exportParamName: "CommandId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/GraphManagementReq"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        204:
          description: "OK"
          schema:
            $ref: "#/definitions/inline_response_204"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_commandAssociationsPost"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    x-swagger-jumpcloud-auto-insert: true
  /commands/{command_id}/systems:
    get:
      tags:
      - "Graph"
      - "Commands"
      summary: "List the Systems bound to a Command"
      description: "This endpoint will return all Systems bound to a Command, either\
        \ directly or indirectly, essentially traversing the JumpCloud Graph for your\
        \ Organization.\n\nEach element will contain the type, id, attributes and\
        \ paths.\n\nThe `attributes` object is a key/value hash of compiled graph\
        \ attributes for all paths followed.\n\nThe `paths` array enumerates each\
        \ path from this Command to the corresponding System; this array represents\
        \ all grouping and/or associations that would have to be removed to deprovision\
        \ the System from this Command.\n\nSee `/members` and `/associations` endpoints\
        \ to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/systems\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_commandTraverseSystem"
      parameters:
      - name: "command_id"
        in: "path"
        description: "ObjectID of the Command."
        required: true
        type: "string"
        x-exportParamName: "CommandId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_commandTraverseSystem"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /commands/{command_id}/systemgroups:
    get:
      tags:
      - "Graph"
      - "Commands"
      summary: "List the System Groups bound to a Command"
      description: "This endpoint will return all System Groups bound to a Command,\
        \ either directly or indirectly, essentially traversing the JumpCloud Graph\
        \ for your Organization.\n\nEach element will contain the group's type, id,\
        \ attributes and paths.\n\nThe `attributes` object is a key/value hash of\
        \ compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates\
        \ each path from this Command to the corresponding System Group; this array\
        \ represents all grouping and/or associations that would have to be removed\
        \ to deprovision the System Group from this Command.\n\nSee `/members` and\
        \ `/associations` endpoints to manage those collections.\n\n#### Sample Request\n\
        ```\ncurl -X GET https://console.jumpcloud.com/api/v2/commands/{Command_ID}/systemgroups\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_commandTraverseSystemGroup"
      parameters:
      - name: "command_id"
        in: "path"
        description: "ObjectID of the Command."
        required: true
        type: "string"
        x-exportParamName: "CommandId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_commandTraverseSystemGroup"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /directories:
    get:
      tags:
      - "Directories"
      summary: "List All Directories"
      description: "This endpoint returns all active directories (LDAP, O365 Suite,\
        \ G-Suite).\n\n#### Sample Request\n```\n curl -X GET https://console.jumpcloud.com/api/v2/directories\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "directories_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Directory"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - x-api-key: []
      x-stoplight:
        id: "directories_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /groups:
    get:
      tags:
      - "Groups"
      summary: "List All Groups"
      description: "This endpoint returns all Groups that exist in your organization.\n\
        \n#### Available filter fields:\n  - `name`\n  - `disabled`\n  - `type`\n\n\
        #### Sample Request\n\n```\n  curl -X GET \\\n  https://console.jumpcloud.com/api/v2/groups\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "groups_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Group"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - x-api-key: []
      x-stoplight:
        id: "groups_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /gsuites/{gsuite_id}/associations:
    get:
      tags:
      - "Graph"
      - "G Suite"
      summary: "List the associations of a G Suite instance"
      description: "This endpoint returns the _direct_ associations of this G Suite\
        \ instance.\n\nA direct association can be a non-homogenous relationship between\
        \ 2 different objects. for example G Suite and Users.\n\n\n#### Sample Request\n\
        ```\ncurl -X GET 'https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/associations?targets=user_group\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_gSuiteAssociationsList"
      parameters:
      - name: "gsuite_id"
        in: "path"
        description: "ObjectID of the G Suite instance."
        required: true
        type: "string"
        x-exportParamName: "GsuiteId"
      - name: "targets"
        in: "query"
        description: ""
        required: true
        type: "array"
        items:
          type: "string"
          enum:
          - "active_directory"
          - "application"
          - "command"
          - "g_suite"
          - "ldap_server"
          - "office_365"
          - "policy"
          - "radius_server"
          - "system"
          - "system_group"
          - "user"
          - "user_group"
        x-exportParamName: "Targets"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphConnection"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_gSuiteAssociationsList"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Graph"
      - "G Suite"
      summary: "Manage the associations of a G Suite instance"
      description: "This endpoint returns the _direct_ associations of this G Suite\
        \ instance.\n\nA direct association can be a non-homogenous relationship between\
        \ 2 different objects. for example G Suite and Users.\n\n\n#### Sample Request\n\
        ```\ncurl -X POST https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/associations\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"\
        type\": \"user_group\",\n    \"id\": \"{Group_ID}\"\n}'\n```"
      operationId: "graph_gSuiteAssociationsPost"
      parameters:
      - name: "gsuite_id"
        in: "path"
        description: "ObjectID of the G Suite instance."
        required: true
        type: "string"
        x-exportParamName: "GsuiteId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/GraphManagementReq"
        x-exportParamName: "Body"
      responses:
        204:
          description: "OK"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_gSuiteAssociationsPost"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    x-swagger-jumpcloud-auto-insert: true
  /gsuites/{gsuite_id}/users:
    get:
      tags:
      - "Graph"
      - "G Suite"
      summary: "List the Users bound to a G Suite instance"
      description: "This endpoint will return all Users bound to a G Suite instance,\
        \ either directly or indirectly, essentially traversing the JumpCloud Graph\
        \ for your Organization.\n\nEach element will contain the type, id, attributes\
        \ and paths.\n\nThe `attributes` object is a key/value hash of compiled graph\
        \ attributes for all paths followed.\n\nThe `paths` array enumerates each\
        \ path from this G Suite instance to the corresponding User; this array represents\
        \ all grouping and/or associations that would have to be removed to deprovision\
        \ the User from this G Suite instance.\n\nSee `/members` and `/associations`\
        \ endpoints to manage those collections.\n\n#### Sample Request\n```\n  curl\
        \ -X GET https://console.jumpcloud.com/api/v2/gsuites/{Gsuite_ID}/users \\\
        \n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_gSuiteTraverseUser"
      parameters:
      - name: "gsuite_id"
        in: "path"
        description: "ObjectID of the G Suite instance."
        required: true
        type: "string"
        x-exportParamName: "GsuiteId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_gSuiteTraverseUser"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /gsuites/{gsuite_id}/usergroups:
    get:
      tags:
      - "Graph"
      - "G Suite"
      summary: "List the User Groups bound to a G Suite instance"
      description: "This endpoint will return all User Groups bound to an G Suite\
        \ instance, either directly or indirectly, essentially traversing the JumpCloud\
        \ Graph for your Organization.\n\nEach element will contain the group's type,\
        \ id, attributes and paths.\n\nThe `attributes` object is a key/value hash\
        \ of compiled graph attributes for all paths followed.\n\nThe `paths` array\
        \ enumerates each path from this G Suite instance to the corresponding User\
        \ Group; this array represents all grouping and/or associations that would\
        \ have to be removed to deprovision the User Group from this G Suite instance.\n\
        \nSee `/members` and `/associations` endpoints to manage those collections.\n\
        \n#### Sample Request\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/gsuites/{GSuite_ID}/usergroups\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_gSuiteTraverseUserGroup"
      parameters:
      - name: "gsuite_id"
        in: "path"
        description: "ObjectID of the G Suite instance."
        required: true
        type: "string"
        x-exportParamName: "GsuiteId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_gSuiteTraverseUserGroup"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /ldapservers/{ldapserver_id}/associations:
    get:
      tags:
      - "Graph"
      - "LDAP Servers"
      summary: "List the associations of a LDAP Server"
      description: "This endpoint returns the _direct_ associations of this LDAP Server.\n\
        \nA direct association can be a non-homogenous relationship between 2 different\
        \ objects. for example LDAP and Users.\n\n#### Sample Request\n\n```\n curl\
        \ -X GET 'https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/associations?targets=user_group\
        \ \\\n  -H 'accept: application/json' \\\n  -H 'content-type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_ldapServerAssociationsList"
      parameters:
      - name: "ldapserver_id"
        in: "path"
        description: "ObjectID of the LDAP Server."
        required: true
        type: "string"
        x-exportParamName: "LdapserverId"
      - name: "targets"
        in: "query"
        description: ""
        required: true
        type: "array"
        items:
          type: "string"
          enum:
          - "active_directory"
          - "application"
          - "command"
          - "g_suite"
          - "ldap_server"
          - "office_365"
          - "policy"
          - "radius_server"
          - "system"
          - "system_group"
          - "user"
          - "user_group"
        x-exportParamName: "Targets"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphConnection"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_ldapServerAssociationsList"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Graph"
      - "LDAP Servers"
      summary: "Manage the associations of a LDAP Server"
      description: "This endpoint allows you to manage the _direct_ associations of\
        \ a LDAP Server.\n\nA direct association can be a non-homogenous relationship\
        \ between 2 different objects. for example LDAP and Users.\n\n#### Sample\
        \ Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/associations\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"\
        type\": \"user\",\n    \"id\": \"{User_ID}\"\n}'\n```"
      operationId: "graph_ldapServerAssociationsPost"
      parameters:
      - name: "ldapserver_id"
        in: "path"
        description: "ObjectID of the LDAP Server."
        required: true
        type: "string"
        x-exportParamName: "LdapserverId"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/GraphManagementReq"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        204:
          description: "OK"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_ldapServerAssociationsPost"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    x-swagger-jumpcloud-auto-insert: true
  /ldapservers/{ldapserver_id}/users:
    get:
      tags:
      - "Graph"
      - "LDAP Servers"
      summary: "List the Users bound to a LDAP Server"
      description: "This endpoint will return all Users bound to an LDAP Server, either\
        \ directly or indirectly, essentially traversing the JumpCloud Graph for your\
        \ Organization.\n\nEach element will contain the type, id, attributes and\
        \ paths.\n\nThe `attributes` object is a key/value hash of compiled graph\
        \ attributes for all paths followed.\n\nThe `paths` array enumerates each\
        \ path from this LDAP server instance to the corresponding User; this array\
        \ represents all grouping and/or associations that would have to be removed\
        \ to deprovision the User from this LDAP server instance.\n\nSee `/members`\
        \ and `/associations` endpoints to manage those collections.\n\n#### Sample\
        \ Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/users\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_ldapServerTraverseUser"
      parameters:
      - name: "ldapserver_id"
        in: "path"
        description: "ObjectID of the LDAP Server."
        required: true
        type: "string"
        x-exportParamName: "LdapserverId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_ldapServerTraverseUser"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /ldapservers/{ldapserver_id}/usergroups:
    get:
      tags:
      - "Graph"
      - "LDAP Servers"
      summary: "List the User Groups bound to a LDAP Server"
      description: "This endpoint will return all Users Groups bound to a LDAP Server,\
        \ either directly or indirectly, essentially traversing the JumpCloud Graph\
        \ for your Organization.\n\nEach element will contain the group's type, id,\
        \ attributes and paths.\n\nThe `attributes` object is a key/value hash of\
        \ compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates\
        \ each path from this LDAP server instance to the corresponding User Group;\
        \ this array represents all grouping and/or associations that would have to\
        \ be removed to deprovision the User Group from this LDAP server instance.\n\
        \nSee `/members` and `/associations` endpoints to manage those collections.\n\
        \n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}/usergroups\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_ldapServerTraverseUserGroup"
      parameters:
      - name: "ldapserver_id"
        in: "path"
        description: "ObjectID of the LDAP Server."
        required: true
        type: "string"
        x-exportParamName: "LdapserverId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_ldapServerTraverseUserGroup"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /ldapservers:
    get:
      tags:
      - "LDAP Servers"
      summary: "List LDAP Servers"
      description: "This endpoint returns the object IDs of your LDAP servers.\n\n\
        \n##### Sample Request\n\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'"
      operationId: "ldapservers_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ldap-server-output"
      security:
      - x-api-key: []
      x-stoplight:
        id: "ldapservers_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /ldapservers/{id}:
    get:
      tags:
      - "LDAP Servers"
      summary: "Get LDAP Server"
      description: "This endpoint returns a specific LDAP server.\n\n##### Sample\
        \ Request\n\n```\n curl -X GET https://console.jumpcloud.com/api/v2/ldapservers/{LDAP_ID}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "ldapservers_get"
      parameters:
      - name: "id"
        in: "path"
        description: "Unique identifier of the LDAP server."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ldap-server-output"
      security:
      - x-api-key: []
      x-stoplight:
        id: "ldapservers_get"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /office365s/{office365_id}/associations:
    get:
      tags:
      - "Graph"
      - "Office 365"
      summary: "List the associations of an Office 365 instance"
      description: "This endpoint returns _direct_ associations of an Office 365 instance.\n\
        \n\nA direct association can be a non-homogenous relationship between 2 different\
        \ objects. for example Office 365 and Users.\n\n#### Sample Request\n```\n\
        curl -X GET 'https://console.jumpcloud.com/api/v2/office365s/{O365_ID}/associations?targets=user_group\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n\n```"
      operationId: "graph_office365AssociationsList"
      parameters:
      - name: "office365_id"
        in: "path"
        description: "ObjectID of the Office 365 instance."
        required: true
        type: "string"
        x-exportParamName: "Office365Id"
      - name: "targets"
        in: "query"
        description: ""
        required: true
        type: "array"
        items:
          type: "string"
          enum:
          - "active_directory"
          - "application"
          - "command"
          - "g_suite"
          - "ldap_server"
          - "office_365"
          - "policy"
          - "radius_server"
          - "system"
          - "system_group"
          - "user"
          - "user_group"
        x-exportParamName: "Targets"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphConnection"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_office365AssociationsList"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Graph"
      - "Office 365"
      summary: "Manage the associations of an Office 365 instance"
      description: "This endpoint allows you to manage the _direct_ associations of\
        \ a Office 365 instance.\n\nA direct association can be a non-homogenous relationship\
        \ between 2 different objects. for example Office 365 and Users.\n\n#### Sample\
        \ Request\n```\ncurl -X POST https://console.jumpcloud.com/api/v2/office365s/{O365_ID}/associations\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"op\": \"add\",\n    \"\
        type\": \"user_group\",\n    \"id\": \"{Group_ID}\"\n}'\n```"
      operationId: "graph_office365AssociationsPost"
      parameters:
      - name: "office365_id"
        in: "path"
        description: "ObjectID of the Office 365 instance."
        required: true
        type: "string"
        x-exportParamName: "Office365Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/GraphManagementReq"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        204:
          description: "OK"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_office365AssociationsPost"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    x-swagger-jumpcloud-auto-insert: true
  /office365s/{office365_id}/users:
    get:
      tags:
      - "Graph"
      - "Office 365"
      summary: "List the Users bound to an Office 365 instance"
      description: "This endpoint will return all Users bound to an Office 365 instance,\
        \ either directly or indirectly, essentially traversing the JumpCloud Graph\
        \ for your Organization.\n\nEach element will contain the type, id, attributes\
        \ and paths.\n\nThe `attributes` object is a key/value hash of compiled graph\
        \ attributes for all paths followed.\n\nThe `paths` array enumerates each\
        \ path from this Office 365 instance to the corresponding User; this array\
        \ represents all grouping and/or associations that would have to be removed\
        \ to deprovision the User from this Office 365 instance.\n\nSee `/members`\
        \ and `/associations` endpoints to manage those collections.\n\n#### Sample\
        \ Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/office365s/{O365_ID}/users\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_office365TraverseUser"
      parameters:
      - name: "office365_id"
        in: "path"
        description: "ObjectID of the Office 365 suite."
        required: true
        type: "string"
        x-exportParamName: "Office365Id"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_office365TraverseUser"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /office365s/{office365_id}/usergroups:
    get:
      tags:
      - "Graph"
      - "Office 365"
      summary: "List the User Groups bound to an Office 365 instance"
      description: "This endpoint will return all Users Groups bound to an Office\
        \ 365 instance, either directly or indirectly, essentially traversing the\
        \ JumpCloud Graph for your Organization.\n\nEach element will contain the\
        \ group's type, id, attributes and paths.\n\nThe `attributes` object is a\
        \ key/value hash of compiled graph attributes for all paths followed.\n\n\
        The `paths` array enumerates each path from this Office 365 instance to the\
        \ corresponding User Group; this array represents all grouping and/or associations\
        \ that would have to be removed to deprovision the User Group from this Office\
        \ 365 instance.\n\nSee `/members` and `/associations` endpoints to manage\
        \ those collections.\n\n#### Sample Request\n```\n  curl -X GET https://console.jumpcloud.com/api/v2/office365s/{O365_ID/usergroups\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_office365TraverseUserGroup"
      parameters:
      - name: "office365_id"
        in: "path"
        description: "ObjectID of the Office 365 suite."
        required: true
        type: "string"
        x-exportParamName: "Office365Id"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_office365TraverseUserGroup"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /policies:
    get:
      tags:
      - "Policies"
      summary: "Lists all the Policies"
      description: "This endpoint returns all policies.\n\n##### Sample Request\n\n\
        ```\n curl -X GET  https://console.jumpcloud.com/api/v2/policies \\\n  -H\
        \ 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n\
        \  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "policies_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Policy"
        500:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Error"
      security:
      - x-api-key: []
      x-stoplight:
        id: "policies_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Policies"
      summary: "Create a new Policy"
      description: "This endpoint allows you to create a policy. Given the amount\
        \ of configurable parameters required to create a Policy, we suggest you use\
        \ the JumpCloud Admin Console to create new policies.\n\n##### Sample Request\
        \ \n```\ncurl -X POST https://console.jumpcloud.com/api/v2/policies \\\n \
        \ -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{ \n  {Policy_Parameters}\n}'\n\
        \n```"
      operationId: "policies_post"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/PolicyRequest"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        201:
          description: "Created"
          schema:
            $ref: "#/definitions/PolicyWithDetails"
      security:
      - x-api-key: []
      x-stoplight:
        id: "policies_post"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /policies/{id}:
    get:
      tags:
      - "Policies"
      summary: "Gets a specific Policy."
      description: "This endpoint returns a specific policy.\n\n###### Sample Request\n\
        \n```\n  curl -X GET https://console.jumpcloud.com/api/v2/policies/{PolicyID}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "policies_get"
      parameters:
      - name: "id"
        in: "path"
        description: "ObjectID of the Policy object."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/PolicyWithDetails"
      security:
      - x-api-key: []
      x-stoplight:
        id: "policies_get"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    put:
      tags:
      - "Policies"
      summary: "Update an existing Policy"
      description: "This endpoint allows you to update a policy. Given the amount\
        \ of configurable parameters required to update a Policy, we suggest you use\
        \ the JumpCloud Admin Console to create new policies.\n\n\n##### Sample Request\n\
        ```\ncurl -X PUT https://console.jumpcloud.com/api/v2/policies/59fced45c9118022172547ff\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY' \\\n  -d '{\n    {Policy_Parameters}\n}'\n\
        ```"
      operationId: "policies_put"
      parameters:
      - name: "id"
        in: "path"
        description: "ObjectID of the Policy object."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/PolicyRequest"
        x-exportParamName: "Body"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/Policy"
      security:
      - x-api-key: []
      x-stoplight:
        id: "policies_put"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    delete:
      tags:
      - "Policies"
      summary: "Deletes a Policy"
      description: "This endpoint allows you to delete a policy.\n\n#### Sample Request\n\
        \n```\ncurl -X DELETE https://console.jumpcloud.com/api/v2/policies/5a837ecd232e110d4291e6b9\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "policies_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "ObjectID of the Policy object."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        204:
          description: "No Content"
      security:
      - x-api-key: []
      x-stoplight:
        id: "policies_delete"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /policies/{policy_id}/policyresults:
    get:
      tags:
      - "Policies"
      summary: "Lists all the policy results of a policy."
      description: "This endpoint returns all policies results for a specific policy.\
        \ \n\n##### Sample Request\n\n```\n curl -X GET https://console.jumpcloud.com/api/v2/policies/{Policy_ID}/policyresults\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "policyresults_list"
      parameters:
      - name: "policy_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "PolicyId"
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      - name: "aggregate"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Aggregate"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PolicyResult"
      security:
      - x-api-key: []
      x-stoplight:
        id: "policyresults_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /policyresults:
    get:
      tags:
      - "Policies"
      summary: "Lists all the policy results for an organization."
      description: "This endpoint returns all policies results for an Organization.\
        \ \n\n##### Sample Request\n\n```\n curl -X GET https://console.jumpcloud.com/api/v2/policyresults\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "policyresults_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      - name: "aggregate"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Aggregate"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PolicyResult"
      security:
      - x-api-key: []
      x-stoplight:
        id: "policyresults_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /systems/{system_id}/policystatuses:
    get:
      tags:
      - "Graph"
      - "Policies"
      summary: "List the policy statuses for a system"
      description: "This endpoint returns the policy results for a particular system.\n\
        \n##### Sample Request\n\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/systems/{System_ID}/policystatuses\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n\n```"
      operationId: "policystatuses_list"
      parameters:
      - name: "system_id"
        in: "path"
        description: "ObjectID of the System."
        required: true
        type: "string"
        x-exportParamName: "SystemId"
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PolicyResult"
      security:
      - x-api-key: []
      x-stoplight:
        id: "policystatuses_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /policies/{policy_id}/policystatuses:
    get:
      tags:
      - "Policies"
      summary: "Lists the latest policy results of a policy."
      description: "This endpoint returns the latest policies results for a specific\
        \ policy. \n\n##### Sample Request\n\n```\n curl -X GET https://console.jumpcloud.com/api/v2/policies/{Policy_ID}/policystatuses\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "policystatuses_list"
      parameters:
      - name: "policy_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "PolicyId"
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted the default list of fields will be returned.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Fields"
      - name: "filter"
        in: "query"
        description: "Supported operators are: eq, ne, gt, ge, lt, le, between, search,\
          \ in"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Filter"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "array"
        items:
          type: "string"
        x-exportParamName: "Sort"
      responses:
        200:
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PolicyResult"
      security:
      - x-api-key: []
      x-stoplight:
        id: "policystatuses_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /policies/{policy_id}/systems:
    get:
      tags:
      - "Graph"
      - "Policies"
      summary: "List the Systems bound to a Policy"
      description: "This endpoint will return all Systems bound to a Policy, either\
        \ directly or indirectly, essentially traversing the JumpCloud Graph for your\
        \ Organization. \n\nEach element will contain the type, id, attributes and\
        \ paths.\n\nThe `attributes` object is a key/value hash of compiled graph\
        \ attributes for all paths followed.\n\nThe `paths` array enumerates each\
        \ path from this Policy to the corresponding System; this array represents\
        \ all grouping and/or associations that would have to be removed to deprovision\
        \ the System from this Policy.\n\nSee `/members` and `/associations` endpoints\
        \ to manage those collections.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/v2/policies/{Policy_ID}/systems\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_policyTraverseSystem"
      parameters:
      - name: "policy_id"
        in: "path"
        description: "ObjectID of the Command."
        required: true
        type: "string"
        x-exportParamName: "PolicyId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_policyTraverseSystem"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /policies/{policy_id}/systemgroups:
    get:
      tags:
      - "Graph"
      - "Policies"
      summary: "List the System Groups bound to a Policy"
      description: "This endpoint will return all Systems Groups bound to a Policy,\
        \ either directly or indirectly, essentially traversing the JumpCloud Graph\
        \ for your Organization.\n\nEach element will contain the group's type, id,\
        \ attributes and paths.\n\nThe `attributes` object is a key/value hash of\
        \ compiled graph attributes for all paths followed.\n\nThe `paths` array enumerates\
        \ each path from this Policy to the corresponding System Group; this array\
        \ represents all grouping and/or associations that would have to be removed\
        \ to deprovision the System Group from this Policy.\n\nSee `/members` and\
        \ `/associations` endpoints to manage those collections.\n\n#### Sample Request\n\
        ```\ncurl -X GET  https://console.jumpcloud.com/api/v2/policies/{Policy_ID}/systemgroups\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "graph_policyTraverseSystemGroup"
      parameters:
      - name: "policy_id"
        in: "path"
        description: "ObjectID of the Command."
        required: true
        type: "string"
        x-exportParamName: "PolicyId"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GraphObjectWithPaths"
      security:
      - x-api-key: []
      x-stoplight:
        id: "graph_policyTraverseSystemGroup"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
[...]
