{
    "swagger": "2.0",
    "info": {
        "version": "2.0",
        "title": "JumpCloud APIs",
        "description": "V1 and V2 versions of JumpCloud's API."
    },
    "host": "console.jumpcloud.com",
    "basePath": "/api/v2",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "x-api-key": {
            "name": "x-api-key",
            "type": "apiKey",
            "in": "header"
        }
    },
    "paths": {
        "/systemgroups/{group_id}/members": {
            "parameters": [
                {
                    "name": "group_id",
                    "in": "path",
                    "description": "ObjectID of the System Group.",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_systemgroups-group_id-members",
                "summary": "List the members of a System Group",
                "tags": [
                    "Graph",
                    "Systemgroups"
                ],
                "description": "This endpoint returns _direct_ children (Systems) of this group.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/GraphConnection"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "type": "system_group",
                                    "id": "57980e9c8bdf6b5616207033",
                                    "attributes": null
                                },
                                {
                                    "type": "system_group",
                                    "id": "57980e9c8bdf6b5616207035",
                                    "attributes": null
                                },
                                {
                                    "type": "system",
                                    "id": "57980e9c8bdf6b5616207034",
                                    "attributes": null
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "post": {
                "operationId": "POST_systemgroups-group_id-members",
                "summary": "Manage the members of a System Group",
                "tags": [
                    "System Groups",
                    "Systemgroups"
                ],
                "description": "This endpoint allows you to manage the _direct_ children (Systems) of a System Group.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/SystemGroupMembersReq"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/systemgroups/{group_id}/associations": {
            "parameters": [
                {
                    "name": "group_id",
                    "in": "path",
                    "description": "ObjectID of the System Group.",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_systemgroups-group_id-associations",
                "summary": "List the associations of a System Group",
                "tags": [
                    "Graph",
                    "Systemgroups"
                ],
                "description": "This endpoint returns the _direct_ associations of a System Group.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "targets",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "application",
                                "command",
                                "g_suite",
                                "ldap_server",
                                "office_365",
                                "radius_server",
                                "system",
                                "system_group",
                                "user",
                                "user_group"
                            ]
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/GraphConnection"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "type": "user_group",
                                    "id": "57980e9c8bdf6b5616207033",
                                    "attributes": null
                                },
                                {
                                    "type": "user",
                                    "id": "57980e9c8bdf6b5616207035",
                                    "attributes": null
                                },
                                {
                                    "type": "user_group",
                                    "id": "57980e9c8bdf6b5616207034",
                                    "attributes": null
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "post": {
                "operationId": "POST_systemgroups-group_id-associations",
                "summary": "Manage the associations of a System Group",
                "tags": [
                    "Graph",
                    "Systemgroups"
                ],
                "description": "This endpoint allows you to manage the _direct_ associations of a System Group.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/GraphManagementReq"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/usergroups/{group_id}/systems": {
            "parameters": [
                {
                    "name": "group_id",
                    "in": "path",
                    "description": "ObjectID of the User Group.",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_usergroups-group_id-systems",
                "summary": "List the Systems associated with a User Group",
                "tags": [
                    "Graph",
                    "Usergroups"
                ],
                "description": "This endpoint will return Systems associated with a User Group. Each element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of attributes specifically set for this group.\n\nThe `paths` array enumerates each path from this User Group to the corresponding System; this array represents all grouping and/or associations that would have to be removed to deprovision the System from this User Group. \n\nSee `/members` and `/associations` endpoints to manage those collections.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/GraphObjectWithPaths"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "type": "system",
                                    "id": "57980e9c8bdf6b5616207033",
                                    "paths": [
                                        [
                                            {
                                                "type": "user_group",
                                                "id": "57980e9c8bdf6b5616207030"
                                            }
                                        ],
                                        [
                                            {
                                                "type": "system_group",
                                                "id": "57980e9c8bdf6b5616207033"
                                            }
                                        ],
                                        [
                                            {
                                                "type": "system_group",
                                                "id": "57980e9c8bdf6b5616207032"
                                            },
                                            {
                                                "type": "system",
                                                "id": "57980e9c8bdf6b5616207033"
                                            }
                                        ]
                                    ]
                                },
                                {
                                    "type": "system",
                                    "id": "57980e9c8bdf6b5616207034",
                                    "paths": [
                                        [
                                            {
                                                "type": "user_group",
                                                "id": "57980e9c8bdf6b5616207030"
                                            }
                                        ],
                                        [
                                            {
                                                "type": "system",
                                                "id": "57980e9c8bdf6b5616207034"
                                            }
                                        ]
                                    ]
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/systemgroups": {
            "get": {
                "operationId": "GET_systemgroups",
                "summary": "List all System Groups",
                "tags": [
                    "System Groups",
                    "Systemgroups"
                ],
                "description": "This endpoint returns all System Groups.\n\nAvailable filter fields:\n  - `name`\n  - `disabled`\n  - `type`",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SystemGroup"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "post": {
                "operationId": "POST_systemgroups",
                "summary": "Create a new System Group",
                "tags": [
                    "System Groups",
                    "Systemgroups"
                ],
                "description": "This endpoint allows you to create a new System Group.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/SystemGroupData"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/SystemGroup"
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/systemgroups/{group_id}/users": {
            "parameters": [
                {
                    "name": "group_id",
                    "in": "path",
                    "description": "ObjectID of the System Group.",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_systemgroups-group_id-users",
                "summary": "List the Users associated with a System Group",
                "tags": [
                    "Graph",
                    "Systemgroups"
                ],
                "description": "This endpoint will return Users associated with a System Group. Each element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of attributes specifically set for this group.\n\nThe `paths` array enumerates each path from this System Group to the corresponding User; this array represents all grouping and/or associations that would have to be removed to deprovision the User from this System Group. \n\nSee `/members` and `/associations` endpoints to manage those collections.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/GraphObjectWithPaths"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "type": "user",
                                    "id": "57980e9c8bdf6b5616207033",
                                    "paths": [
                                        [
                                            {
                                                "type": "system_group",
                                                "id": "57980e9c8bdf6b5616207030"
                                            }
                                        ],
                                        [
                                            {
                                                "type": "user_group",
                                                "id": "57980e9c8bdf6b5616207033"
                                            }
                                        ],
                                        [
                                            {
                                                "type": "user_group",
                                                "id": "57980e9c8bdf6b5616207032"
                                            },
                                            {
                                                "type": "user",
                                                "id": "57980e9c8bdf6b5616207033"
                                            }
                                        ]
                                    ]
                                },
                                {
                                    "type": "user",
                                    "id": "57980e9c8bdf6b5616207034",
                                    "paths": [
                                        [
                                            {
                                                "type": "system_group",
                                                "id": "57980e9c8bdf6b5616207030"
                                            }
                                        ],
                                        [
                                            {
                                                "type": "user",
                                                "id": "57980e9c8bdf6b5616207034"
                                            }
                                        ]
                                    ]
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/office365s/{office365_id}/associations": {
            "parameters": [
                {
                    "name": "office365_id",
                    "in": "path",
                    "description": "ObjectID of the Office 365 instance.",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_office365s-office365_id-associations",
                "summary": "List the associations of an Office 365 instance",
                "tags": [
                    "Graph",
                    "Office365s"
                ],
                "description": "This endpoint returns _direct_ associations of an Office 365 instance.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "targets",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "application",
                                "command",
                                "g_suite",
                                "ldap_server",
                                "office_365",
                                "radius_server",
                                "system",
                                "system_group",
                                "user",
                                "user_group"
                            ]
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/GraphConnection"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "type": "user_group",
                                    "id": "57980e9c8bdf6b5616207033",
                                    "attributes": null
                                },
                                {
                                    "type": "user",
                                    "id": "57980e9c8bdf6b5616207035",
                                    "attributes": null
                                },
                                {
                                    "type": "user_group",
                                    "id": "57980e9c8bdf6b5616207034",
                                    "attributes": null
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "post": {
                "operationId": "POST_office365s-office365_id-associations",
                "summary": "Manage the associations of an Office 365 instance",
                "tags": [
                    "Graph",
                    "Office365s"
                ],
                "description": "This endpoint allows you to manage the _direct_ associations of a Office 365 instance.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/GraphManagementReq"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/applications/{application_id}/associations": {
            "parameters": [
                {
                    "name": "application_id",
                    "in": "path",
                    "description": "ObjectID of the Application.",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_applications-application_id-associations",
                "summary": "List the associations of an Application",
                "tags": [
                    "Graph",
                    "Applications"
                ],
                "description": "This endpoint will return the _direct_ associations of an Application.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "targets",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "application",
                                "command",
                                "g_suite",
                                "ldap_server",
                                "office_365",
                                "radius_server",
                                "system",
                                "system_group",
                                "user",
                                "user_group"
                            ]
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/GraphConnection"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "type": "user_group",
                                    "id": "57980e9c8bdf6b5616207033",
                                    "attributes": null
                                },
                                {
                                    "type": "user",
                                    "id": "57980e9c8bdf6b5616207035",
                                    "attributes": null
                                },
                                {
                                    "type": "user_group",
                                    "id": "57980e9c8bdf6b5616207034",
                                    "attributes": null
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "post": {
                "operationId": "POST_applications-application_id-associations",
                "summary": "Manage the associations of an Application",
                "tags": [
                    "Graph",
                    "Applications"
                ],
                "description": "This endpoint allows you to manage the _direct_ associations of an Application.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/GraphManagementReq"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/users/{user_id}/directories": {
            "parameters": [
                {
                    "name": "user_id",
                    "in": "path",
                    "description": "ObjectID of the User.",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_users-user_id-directories",
                "summary": "List the Directories associated with a User",
                "tags": [
                    "Graph",
                    "Users"
                ],
                "description": "This endpoint will return Directories associated with a User. Each element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of attributes specifically set for this group.\n\nThe `paths` array enumerates each path from this User to the corresponding Directory; this array represents all grouping and/or associations that would have to be removed to deprovision the Directory from this User. \n\nSee `/members` and `/associations` endpoints to manage those collections.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/GraphObjectWithPaths"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "type": "g_suite",
                                    "id": "57980e9c8bdf6b5616207033",
                                    "paths": [
                                        [
                                            {
                                                "type": "user",
                                                "id": "57980e9c8bdf6b5616207030"
                                            }
                                        ],
                                        [
                                            {
                                                "type": "g_suite",
                                                "id": "57980e9c8bdf6b5616207033"
                                            }
                                        ]
                                    ]
                                },
                                {
                                    "type": "office_365",
                                    "id": "57980e9c8bdf6b5616207034",
                                    "paths": [
                                        [
                                            {
                                                "type": "user",
                                                "id": "57980e9c8bdf6b5616207030"
                                            }
                                        ],
                                        [
                                            {
                                                "type": "office_365",
                                                "id": "57980e9c8bdf6b5616207034"
                                            }
                                        ]
                                    ]
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/users/{user_id}/gsuites": {
            "parameters": [
                {
                    "name": "user_id",
                    "in": "path",
                    "description": "ObjectID of the User.",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_users-user_id-gsuites",
                "summary": "List the G Suite instances associated with a User",
                "tags": [
                    "Graph",
                    "Users"
                ],
                "description": "This endpoint will return G Suite instances associated with a User. Each element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of attributes specifically set for this group.\n\nThe `paths` array enumerates each path from this User to the corresponding G Suite instance; this array represents all grouping and/or associations that would have to be removed to deprovision the G Suite instance from this User. \n\nSee `/members` and `/associations` endpoints to manage those collections.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/GraphObjectWithPaths"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "type": "g_suite",
                                    "id": "57980e9c8bdf6b5616207033",
                                    "paths": [
                                        [
                                            {
                                                "type": "user",
                                                "id": "57980e9c8bdf6b5616207030"
                                            }
                                        ]
                                    ]
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/users/{user_id}/applications": {
            "parameters": [
                {
                    "name": "user_id",
                    "in": "path",
                    "description": "ObjectID of the User.",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_users-user_id-applications",
                "summary": "List the Applications associated with a User",
                "tags": [
                    "Graph",
                    "Users"
                ],
                "description": "This endpoint will return Applications associated with a User. Each element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of attributes specifically set for this group.\n\nThe `paths` array enumerates each path from this User to the corresponding Application; this array represents all grouping and/or associations that would have to be removed to deprovision the Application from this User. \n\nSee `/members` and `/associations` endpoints to manage those collections.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/GraphObjectWithPaths"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "type": "application",
                                    "id": "57980e9c8bdf6b5616207033",
                                    "paths": []
                                },
                                {
                                    "type": "application",
                                    "id": "57980e9c8bdf6b5616207034",
                                    "paths": []
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/groups": {
            "get": {
                "operationId": "GET_groups",
                "summary": "List All Groups",
                "tags": [
                    "Groups"
                ],
                "description": "This endpoint returns all Groups.\n\nAvailable filter fields:\n  - `name`\n  - `disabled`\n  - `type`",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Group"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/usergroups": {
            "post": {
                "operationId": "POST_usergroups",
                "summary": "Create a new User Group",
                "tags": [
                    "User Groups",
                    "Usergroups"
                ],
                "description": "This endpoint allows you to create a new User Group.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/UserGroupData"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/UserGroup"
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "get": {
                "operationId": "GET_usergroups",
                "summary": "List all User Groups",
                "tags": [
                    "User Groups",
                    "Usergroups"
                ],
                "description": "This endpoint returns all User Groups.\n\nAvailable filter fields:\n  - `name`\n  - `disabled`\n  - `type`",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/UserGroup"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/users/{user_id}/memberof": {
            "parameters": [
                {
                    "name": "user_id",
                    "in": "path",
                    "description": "ObjectID of the User.",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_users-user_id-memberof",
                "summary": "List the User Group's parents",
                "tags": [
                    "Graph",
                    "Users"
                ],
                "description": "This endpoint lists all User Groups a User is a member of.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/GraphObjectWithPaths"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "type": "user_group",
                                    "id": "57980e9c8bdf6b5616207033",
                                    "paths": [
                                        [
                                            {
                                                "type": "user_group",
                                                "id": "57980e9c8bdf6b5616207033"
                                            }
                                        ],
                                        [
                                            {
                                                "type": "user_group",
                                                "id": "57980e9c8bdf6b5616207032"
                                            },
                                            {
                                                "type": "user_group",
                                                "id": "57980e9c8bdf6b5616207033"
                                            }
                                        ]
                                    ]
                                },
                                {
                                    "type": "user_group",
                                    "id": "57980e9c8bdf6b5616207034",
                                    "paths": [
                                        [
                                            {
                                                "type": "user_group",
                                                "id": "57980e9c8bdf6b5616207034"
                                            }
                                        ]
                                    ]
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/users/{user_id}/ldapservers": {
            "parameters": [
                {
                    "name": "user_id",
                    "in": "path",
                    "description": "ObjectID of the User.",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_users-user_id-ldapservers",
                "summary": "List the LDAP servers associated with a User",
                "tags": [
                    "Graph",
                    "Users"
                ],
                "description": "This endpoint will return LDAP Servers associated with a User. Each element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of attributes specifically set for this group.\n\nThe `paths` array enumerates each path from this User to the corresponding LDAP Server; this array represents all grouping and/or associations that would have to be removed to deprovision the LDAP Server from this User. \n\nSee `/members` and `/associations` endpoints to manage those collections.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/GraphObjectWithPaths"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "type": "ldap_server",
                                    "id": "57980e9c8bdf6b5616207033",
                                    "paths": [
                                        [
                                            {
                                                "type": "user",
                                                "id": "57980e9c8bdf6b5616207030"
                                            }
                                        ]
                                    ]
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/systemgroups/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "ObjectID of the System Group.",
                    "required": true,
                    "type": "string"
                }
            ],
            "put": {
                "operationId": "PUT_systemgroups-id",
                "summary": "Update a System Group",
                "tags": [
                    "System Groups",
                    "Systemgroups"
                ],
                "description": "This enpoint allows you to do a full update of the System Group.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/SystemGroupData"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SystemGroup"
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "delete": {
                "operationId": "DELETE_systemgroups-id",
                "summary": "Delete a System Group",
                "tags": [
                    "System Groups",
                    "Systemgroups"
                ],
                "description": "This endpoint allows you to delete a System Group.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "get": {
                "operationId": "GET_systemgroups-id",
                "summary": "View a System Group details",
                "tags": [
                    "System Groups",
                    "Systemgroups"
                ],
                "description": "This endpoint returns the details of a System Group.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SystemGroup"
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/usergroups/{group_id}/membership": {
            "parameters": [
                {
                    "name": "group_id",
                    "in": "path",
                    "description": "ObjectID of the User Group.",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_usergroups-group_id-membership",
                "summary": "List the User Group's membership",
                "tags": [
                    "Graph",
                    "Usergroups"
                ],
                "description": "This endpoint returns all Users that are a member of this User Group.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/GraphObjectWithPaths"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "type": "user",
                                    "id": "57980e9c8bdf6b5616207033",
                                    "paths": [
                                        [
                                            {
                                                "type": "user_group",
                                                "id": "57980e9c8bdf6b5616207033"
                                            }
                                        ],
                                        [
                                            {
                                                "type": "user_group",
                                                "id": "57980e9c8bdf6b5616207032"
                                            },
                                            {
                                                "type": "user",
                                                "id": "57980e9c8bdf6b5616207033"
                                            }
                                        ]
                                    ]
                                },
                                {
                                    "type": "user_group",
                                    "id": "57980e9c8bdf6b5616207034",
                                    "paths": [
                                        [
                                            {
                                                "type": "user_group",
                                                "id": "57980e9c8bdf6b5616207034"
                                            }
                                        ]
                                    ]
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/users/{user_id}/office365s": {
            "parameters": [
                {
                    "name": "user_id",
                    "in": "path",
                    "description": "ObjectID of the User.",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_users-user_id-office365s",
                "summary": "List the Office 365 instances associated with User",
                "tags": [
                    "Graph",
                    "Users"
                ],
                "description": "This endpoint will return Office 365 instances associated with a User. Each element will contain the type, id, attributes and paths.\n\nThe `attributes` object is a key/value hash of attributes specifically set for this group.\n\nThe `paths` array enumerates each path from this User to the corresponding Office 365 instance; this array represents all grouping and/or associations that would have to be removed to deprovision the Office 365 instance from this User. \n\nSee `/members` and `/associations` endpoints to manage those collections.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/GraphObjectWithPaths"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "type": "office_365",
                                    "id": "57980e9c8bdf6b5616207033",
                                    "paths": [
                                        [
                                            {
                                                "type": "user",
                                                "id": "57980e9c8bdf6b5616207030"
                                            }
                                        ]
                                    ]
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/usergroups/{group_id}/associations": {
            "parameters": [
                {
                    "name": "group_id",
                    "in": "path",
                    "description": "ObjectID of the User Group.",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_usergroups-group_id-associations",
                "summary": "List the associations of a User Group.",
                "tags": [
                    "Graph",
                    "Usergroups"
                ],
                "description": "This endpoint returns the _direct_ associations of this User Group.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fields included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "targets",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "application",
                                "command",
                                "g_suite",
                                "ldap_server",
                                "office_365",
                                "radius_server",
                                "system",
                                "system_group",
                                "user",
                                "user_group"
                            ]
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/GraphConnection"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "type": "system_group",
                                    "id": "57980e9c8bdf6b5616207033",
                                    "attributes": null
                                },
                                {
                                    "type": "system",
                                    "id": "57980e9c8bdf6b5616207035",
                                    "attributes": null
                                },
                                {
                                    "type": "system_group",
                                    "id": "57980e9c8bdf6b5616207034",
                                    "attributes": null
                                }
                            ]
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "post": {
                "operationId": "POST_usergroups-group_id-associations",
                "summary": "Manage the associations of a User Group",
                "tags": [
                    "Graph",
                    "Usergroups"
                ],
                "description": "This endpoint manages the _direct_ associations of this User Group.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/GraphManagementReq"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/office365s/{office365_id}/users": {
[...]
