{
    "swagger": "2.0",
    "info": {
        "version": "1.0",
        "title": "JumpCloud APIs",
        "description": "V1 and V2 versions of JumpCloud's API."
    },
    "host": "console.jumpcloud.com",
    "basePath": "/api",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json; charset=utf-8"
    ],
    "securityDefinitions": {
        "x-api-key": {
            "name": "x-api-key",
            "type": "apiKey",
            "in": "header"
        }
    },
    "paths": {
        "/Tags/{name}": {
            "parameters": [
                {
                    "name": "name",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_Tags-name",
                "summary": "List a Tag",
                "description": "Returns a specific tag.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "_id": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "systems": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                },
                                "systemusers": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                },
                                "regularExpressions": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                },
                                "externallyManaged": {
                                    "type": "boolean"
                                },
                                "sendToLDAP": {
                                    "type": "boolean"
                                },
                                "expired": {
                                    "type": "boolean"
                                }
                            },
                            "example": {
                                "_id": "dolor adipisicing",
                                "name": "fugiat dolor",
                                "systems": [
                                    {},
                                    {}
                                ],
                                "systemusers": [
                                    {},
                                    {},
                                    {},
                                    {},
                                    {}
                                ],
                                "regularExpressions": [
                                    {}
                                ],
                                "externallyManaged": true,
                                "sendToLDAP": true,
                                "expired": false
                            }
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "$ref": "#/parameters/trait:fields:fields"
                    },
                    {
                        "$ref": "#/parameters/trait:limit:limit"
                    },
                    {
                        "$ref": "#/parameters/trait:skip:skip"
                    },
                    {
                        "$ref": "#/parameters/trait:sort:sort"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "",
                        "schema": {}
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/command/trigger/{triggername}": {
            "parameters": [
                {
                    "name": "triggername",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "operationId": "POST_command-trigger-triggername",
                "summary": "Run a Command assigned to a webhook",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "302": {
                        "description": "Incorrect API key"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/tags/{name}": {
            "parameters": [
                {
                    "name": "name",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "delete": {
                "operationId": "DELETE_tags-name",
                "summary": "Delete A Tag",
                "description": "Delete a Tag.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "",
                        "schema": {}
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/search/systemusers": {
            "post": {
                "operationId": "POST_search-systemusers",
                "summary": "List System Users",
                "description": "Return System Users in multi-record format allowing for the passing of the 'filter' parameter. The WILL NOT allow you to add a new system.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/search"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "$ref": "#/parameters/trait:limit:limit"
                    },
                    {
                        "$ref": "#/parameters/trait:skip:skip"
                    },
                    {
                        "$ref": "#/parameters/trait:fields:fields"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "totalCount": {
                                    "type": "integer"
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "email": {
                                                "type": "string"
                                            },
                                            "username": {
                                                "type": "string"
                                            },
                                            "allow_public_key": {
                                                "type": "boolean"
                                            },
                                            "ssh_keys": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object"
                                                }
                                            },
                                            "sudo": {
                                                "type": "boolean"
                                            },
                                            "enable_managed_uid": {
                                                "type": "boolean"
                                            },
                                            "unix_uid": {
                                                "type": "integer"
                                            },
                                            "unix_guid": {
                                                "type": "integer"
                                            },
                                            "activated": {
                                                "type": "boolean"
                                            },
                                            "password_expired": {
                                                "type": "boolean"
                                            },
                                            "account_locked": {
                                                "type": "boolean"
                                            },
                                            "passwordless_sudo": {
                                                "type": "boolean"
                                            },
                                            "externally_managed": {
                                                "type": "boolean"
                                            },
                                            "firstname": {
                                                "type": "string"
                                            },
                                            "lastname": {
                                                "type": "string"
                                            },
                                            "ldap_binding_user": {
                                                "type": "boolean"
                                            },
                                            "enable_user_portal_multifactor": {
                                                "type": "boolean"
                                            },
                                            "associatedTagCount": {
                                                "type": "integer"
                                            },
                                            "totp_enabled": {
                                                "type": "boolean"
                                            },
                                            "attributes": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object"
                                                }
                                            },
                                            "created": {
                                                "type": "null"
                                            },
                                            "_id": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json; charset=utf-8": {
                                "totalCount": 89942093,
                                "results": [
                                    {
                                        "account_locked": true,
                                        "associatedTagCount": -5027697,
                                        "enable_user_portal_multifactor": false,
                                        "attributes": [
                                            {}
                                        ],
                                        "unix_uid": -78493924,
                                        "lastname": "dolore",
                                        "enable_managed_uid": false,
                                        "_id": "laborum mollit",
                                        "allow_public_key": false,
                                        "totp_enabled": false,
                                        "passwordless_sudo": true,
                                        "password_expired": true,
                                        "externally_managed": false,
                                        "ssh_keys": [
                                            {}
                                        ],
                                        "firstname": "",
                                        "unix_guid": -53671041,
                                        "ldap_binding_user": true
                                    },
                                    {
                                        "enable_user_portal_multifactor": false,
                                        "sudo": false,
                                        "ssh_keys": [
                                            {}
                                        ],
                                        "unix_guid": -50353059,
                                        "externally_managed": false,
                                        "associatedTagCount": 13332017
                                    },
                                    {
                                        "account_locked": true,
                                        "attributes": [
                                            {},
                                            {},
                                            {},
                                            {}
                                        ],
                                        "totp_enabled": false,
                                        "lastname": "deserunt cupidatat reprehenderit",
                                        "enable_user_portal_multifactor": true,
                                        "unix_uid": 69075140,
                                        "enable_managed_uid": false,
                                        "passwordless_sudo": false,
                                        "_id": "in aute eu veniam"
                                    },
                                    {
                                        "passwordless_sudo": false,
                                        "allow_public_key": false,
                                        "ldap_binding_user": true,
                                        "_id": "nisi",
                                        "totp_enabled": false,
                                        "username": "ad irure",
                                        "unix_guid": 46997953,
                                        "associatedTagCount": 93070964,
                                        "externally_managed": false,
                                        "password_expired": false,
                                        "enable_user_portal_multifactor": false,
                                        "lastname": "labore Excepteur",
                                        "created": null,
                                        "activated": true,
                                        "firstname": "dolor Excepteur aliqua quis"
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/commandresults": {
            "get": {
                "operationId": "GET_commandresults",
                "summary": "List all Command Results",
                "description": "Returns all command results.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "$ref": "#/parameters/trait:fields:fields"
                    },
                    {
                        "$ref": "#/parameters/trait:limit:limit"
                    },
                    {
                        "$ref": "#/parameters/trait:skip:skip"
                    },
                    {
                        "$ref": "#/parameters/trait:sort:sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "totalCount": {
                                    "type": "integer",
                                    "description": "The total number of systems users"
                                },
                                "results": {
                                    "type": "array",
                                    "description": "The particular page systems users",
                                    "items": {
                                        "$ref": "#/definitions/commandresults"
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json; charset=utf-8": {
                                "totalCount": 35543901,
                                "results": [
                                    {
                                        "user": "",
                                        "system": "sit Excepteur dolore",
                                        "response.id": "nisi dolore",
                                        "requestTime": "3053-07-28",
                                        "files": [
                                            "Duis proide",
                                            "eiusmod quis id ipsum ut",
                                            "consectetur Ut"
                                        ]
                                    },
                                    {
                                        "responseTime": "4405-04-29",
                                        "system": "exercitation",
                                        "response.data.output": 2126890,
                                        "organization": "ad laborum consequat ullamco",
                                        "response.id": "sint est labore nulla"
                                    },
                                    {
                                        "command": "laborum Lorem aliquip"
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/systemusers": {
            "post": {
                "operationId": "POST_systemusers",
                "summary": "Create a system user",
                "description": "Add new System Users.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/SystemUser",
                            "example": {
                                "email": "ea Duis",
                                "username": "do",
                                "allow_public_key": true,
                                "ssh_keys": [
                                    {},
                                    {},
                                    {},
                                    {},
                                    {}
                                ],
                                "sudo": false,
                                "enable_managed_uid": false,
                                "unix_uid": 80460150,
                                "unix_guid": -14713261,
                                "activated": true,
                                "password_expired": true,
                                "account_locked": false,
                                "passwordless_sudo": false,
                                "externally_managed": true,
                                "firstname": "ea",
                                "lastname": "ipsum enim adipisicing",
                                "ldap_binding_user": false,
                                "enable_user_portal_multifactor": true,
                                "associatedTagCount": 8600013,
                                "totp_enabled": true,
                                "attributes": [
                                    {}
                                ],
                                "created": null,
                                "_id": "enim labore"
                            }
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User added successfully",
                        "schema": {
                            "$ref": "#/definitions/SystemUser"
                        }
                    },
                    "400": {
                        "description": "User already exists"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "get": {
                "operationId": "GET_systemusers",
                "summary": "List all system users",
                "description": "Returns all systemusers.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of records to return at once.",
                        "required": false,
                        "type": "integer",
                        "default": 10
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "The offset into the records to return.",
                        "required": false,
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "The comma separated fields used to sort the collection.\nDefault sort is ascending, prefix with `-` to sort descending.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma separated fileds included in the returned records.\nIf omitted the default list of fields will be returned.\n",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email": {
                                    "type": "string"
                                },
                                "username": {
                                    "type": "string"
                                },
                                "allow_public_key": {
                                    "type": "boolean"
                                },
                                "ssh_keys": {
                                    "type": "object"
                                },
                                "enable_manage_uid": {
                                    "type": "boolean"
                                },
                                "unix_uid": {
                                    "type": "string"
                                },
                                "unix_guid": {
                                    "type": "string"
                                },
                                "activated": {
                                    "type": "boolean"
                                },
                                "password_expired": {
                                    "type": "boolean"
                                },
                                "account_locked": {
                                    "type": "boolean"
                                },
                                "passwordless_sudo": {
                                    "type": "boolean"
                                },
                                "externally_managed": {
                                    "type": "boolean"
                                },
                                "firstname": {
                                    "type": "string"
                                },
                                "lastname": {
                                    "type": "string"
                                },
                                "ldap_binding_user": {
                                    "type": "boolean"
                                },
                                "enable_user_portal_multifactor": {
                                    "type": "boolean"
                                },
                                "associatedTagCount": {
                                    "type": "integer"
                                },
                                "totp_enabled": {
                                    "type": "boolean"
                                },
                                "password_expiration_date": {
                                    "type": "string"
                                },
                                "attributes": {
                                    "type": "object"
                                },
                                "created": {
                                    "type": "null"
                                },
                                "_id": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json; charset=utf-8": {
                                "email": "enim",
                                "username": "dolor magna",
                                "allow_public_key": false,
                                "ssh_keys": {},
                                "enable_manage_uid": false,
                                "unix_uid": "est dolore consectetur aliquip elit",
                                "unix_guid": "ad ipsum irure laboris non",
                                "activated": true,
                                "password_expired": false,
                                "account_locked": false,
                                "passwordless_sudo": false,
                                "externally_managed": true,
                                "firstname": "in amet ex aute cillum",
                                "lastname": "dolor",
                                "ldap_binding_user": false,
                                "enable_user_portal_multifactor": false,
                                "associatedTagCount": 33795683,
                                "totp_enabled": true,
                                "password_expiration_date": "2017-05-25T18:20:08.488Z",
                                "attributes": {},
                                "created": null,
                                "_id": "sunt consectetur dolore"
                            }
                        }
                    },
                    "302": {
                        "description": "Authentication Required"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/systems/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "put": {
                "operationId": "PUT_systems-id",
                "summary": "Update a system",
                "description": "Update a system record by its id and return the modified system record in single record format.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "displayName": {
                                    "type": "string"
                                },
                                "allowSshPasswordAuthentication": {
                                    "type": "boolean"
                                },
                                "allowSshRootLogin": {
                                    "type": "boolean"
                                },
                                "allowMultiFactorAuthentication": {
                                    "type": "boolean"
                                },
                                "allowPublicKeyAuthentication": {
                                    "type": "boolean"
                                },
                                "agentBoundMessages": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "cmd": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "_id": {
                                    "type": "string"
                                }
                            },
                            "example": {
                                "displayName": "culpa id sit consectetur",
                                "allowSshPasswordAuthentication": false,
                                "allowSshRootLogin": true,
                                "allowMultiFactorAuthentication": true,
                                "allowPublicKeyAuthentication": false,
                                "agentBoundMessages": [
                                    {},
                                    {}
                                ],
                                "_id": "officia nisi incididunt tem"
                            }
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "delete": {
                "operationId": "DELETE_systems-id",
                "summary": "Delete a System",
                "description": "Delete a system record by its id. This command will cause the system to uninstall the JumpCloud agent from its self which can can take about a minute. If the system is not connected to JumpCloud the system record will simply be removed.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "get": {
                "operationId": "GET_systems-id",
                "summary": "List an individual system",
                "description": "Returns an individual system.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "$ref": "#/parameters/trait:fields:fields"
                    },
                    {
                        "$ref": "#/parameters/trait:limit:limit"
                    },
                    {
                        "$ref": "#/parameters/trait:skip:skip"
                    },
                    {
                        "$ref": "#/parameters/trait:sort:sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "organization": {
                                    "type": "string"
                                },
                                "created": {
                                    "type": "string"
                                },
                                "lastContact": {
                                    "type": "string"
                                },
                                "os": {
                                    "type": "string"
                                },
                                "version": {
                                    "type": "string"
                                },
                                "arch": {
                                    "type": "string"
                                },
                                "networkInterfaces": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "address": {
                                                "type": "string"
                                            },
                                            "family": {
                                                "type": "string"
                                            },
                                            "internal": {
                                                "type": "boolean"
                                            },
                                            "name": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "hostname": {
                                    "type": "string"
                                },
                                "displayName": {
                                    "type": "string"
                                },
                                "systemTimezone": {
                                    "type": "integer"
                                },
                                "templateName": {
                                    "type": "string"
                                },
                                "remoteIP": {
                                    "type": "string"
                                },
                                "active": {
                                    "type": "boolean"
                                },
                                "sshdParams": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                },
                                "allowSshPasswordAuthentication": {
                                    "type": "boolean"
                                },
                                "allowSshRootLogin": {
                                    "type": "boolean"
                                },
                                "allowMultiFactorAuthentication": {
                                    "type": "boolean"
                                },
                                "allowPublicKeyAuthentication": {
                                    "type": "boolean"
                                },
                                "modifySSHDConfig": {
                                    "type": "boolean"
                                },
                                "agentVersion": {
                                    "type": "string"
                                },
                                "connectionHistory": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                },
                                "sshRootEnabled": {
                                    "type": "boolean"
                                },
                                "tags": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "id": {
                                    "type": "string"
                                },
                                "_id": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json; charset=utf-8": {
                                "organization": "consequat magna elit labore velit",
                                "created": "consequat minim incididunt enim",
                                "lastContact": "magna non pariatur nostrud",
                                "os": "ut est adipisicing ut",
                                "version": "nulla ex veniam",
                                "arch": "tempor cillum",
                                "networkInterfaces": [
                                    {},
                                    {
                                        "family": "laboris magna et ullamco",
                                        "address": "ut magna deserunt"
                                    },
                                    {}
                                ],
                                "hostname": "ea laboris ",
                                "displayName": "Lorem sed ",
                                "systemTimezone": -7597577,
                                "templateName": "proident exercitation dolore in Duis",
                                "remoteIP": "irure in proident",
                                "active": false,
                                "sshdParams": [
                                    {},
                                    {}
                                ],
                                "allowSshPasswordAuthentication": false,
                                "allowSshRootLogin": true,
                                "allowMultiFactorAuthentication": true,
                                "allowPublicKeyAuthentication": true,
                                "modifySSHDConfig": true,
                                "agentVersion": "Excepteur officia anim nisi",
                                "connectionHistory": [
                                    {},
                                    {},
                                    {},
                                    {}
                                ],
                                "sshRootEnabled": false,
                                "tags": [
                                    "qui",
                                    "non dolor deserunt",
                                    "amet non",
                                    "ipsum eiusmod",
                                    "proident veniam enim"
                                ],
                                "id": "veniam in",
                                "_id": "ea Ut officia"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/systemusers/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "delete": {
                "operationId": "DELETE_systemusers-id",
                "summary": "Delete a system user",
                "description": "Delete a particular system user.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "put": {
                "operationId": "PUT_systemusers-id",
                "summary": "Update a system user",
                "description": "Update a system user record and return the modified record.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "properties": {
                                "attributes": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/SystemUser"
                                    }
                                }
                            }
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "get": {
                "operationId": "GET_systemusers-id",
                "summary": "List a system user",
                "description": "Get a particular System User.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "$ref": "#/parameters/trait:fields:fields"
                    },
                    {
                        "$ref": "#/parameters/trait:limit:limit"
                    },
                    {
                        "$ref": "#/parameters/trait:skip:skip"
                    },
                    {
                        "$ref": "#/parameters/trait:sort:sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email": {
                                    "type": "string"
                                },
                                "username": {
                                    "type": "string"
                                },
                                "allow_public_key": {
                                    "type": "boolean"
                                },
                                "ssh_keys": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                },
                                "sudo": {
                                    "type": "boolean"
                                },
                                "enable_managed_uid": {
                                    "type": "boolean"
                                },
                                "unix_uid": {
                                    "type": "integer"
                                },
                                "unix_guid": {
                                    "type": "integer"
                                },
                                "activated": {
                                    "type": "boolean"
                                },
                                "tags": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "password_expired": {
                                    "type": "boolean"
                                },
                                "account_locked": {
                                    "type": "boolean"
                                },
                                "passwordless_sudo": {
                                    "type": "boolean"
                                },
                                "externally_managed": {
                                    "type": "boolean"
                                },
                                "firstname": {
                                    "type": "string"
                                },
                                "lastname": {
                                    "type": "string"
                                },
                                "ldap_binding_user": {
                                    "type": "boolean"
                                },
                                "enable_user_portal_multifactor": {
                                    "type": "boolean"
                                },
                                "totp_enabled": {
                                    "type": "boolean"
                                },
                                "password_expiration_date": {
                                    "type": "string"
                                },
                                "attributes": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                },
                                "created": {
                                    "type": "null"
                                },
                                "_id": {
                                    "type": "string"
                                }
                            }
                        },
                        "examples": {
                            "application/json; charset=utf-8": {
                                "email": "irure exercitation adipisicing consectetur c",
                                "username": "in esse in est consectetur",
                                "allow_public_key": true,
                                "ssh_keys": [
                                    {},
                                    {},
                                    {},
                                    {},
                                    {}
                                ],
                                "sudo": false,
                                "enable_managed_uid": false,
                                "unix_uid": 38994569,
                                "unix_guid": 88030481,
                                "activated": true,
                                "tags": [
                                    "consectetur in dolor amet",
                                    "culpa dolore ut",
                                    "eu",
                                    "velit pariatur aute voluptate",
                                    "sed non qui est"
                                ],
                                "password_expired": true,
                                "account_locked": true,
                                "passwordless_sudo": false,
                                "externally_managed": true,
                                "firstname": "est in",
                                "lastname": "labore dolore occaecat",
                                "ldap_binding_user": true,
                                "enable_user_portal_multifactor": true,
                                "totp_enabled": true,
                                "password_expiration_date": "occaecat voluptate",
                                "attributes": [
                                    {},
                                    {}
                                ],
                                "created": null,
                                "_id": "minim c"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/tags": {
            "get": {
                "operationId": "GET_tags",
                "summary": "List All Tags",
                "description": "Returns all Tags.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "_id": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "systems": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object"
                                                }
                                            },
                                            "systemusers": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object"
                                                }
                                            },
                                            "regularExpressions": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object"
                                                }
                                            },
                                            "externallyManaged": {
                                                "type": "boolean"
                                            },
                                            "sendToLDAP": {
                                                "type": "boolean"
                                            },
                                            "reserved": {
                                                "type": "string"
                                            },
                                            "expirationTime": {
                                                "type": "null"
                                            },
                                            "groupName": {
                                                "type": "string"
                                            },
                                            "groupGid": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "totalCount": {
                                    "type": "integer"
                                }
                            },
                            "example": {
                                "results": [
                                    {},
                                    {
                                        "sendToLDAP": false,
                                        "name": "id",
                                        "groupGid": "in do ex veniam"
                                    },
                                    {
                                        "systemusers": [
                                            {},
                                            {},
                                            {},
                                            {},
                                            {}
                                        ],
                                        "regularExpressions": [
                                            {},
                                            {},
                                            {},
                                            {},
                                            {}
                                        ],
                                        "name": "aute aliquip dolore sint",
                                        "groupGid": "et",
                                        "groupName": "sunt eu commodo",
                                        "_id": "dolore tempor eu consectetur",
                                        "sendToLDAP": false
                                    }
                                ],
                                "totalCount": -39315067
                            }
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "$ref": "#/parameters/trait:fields:fields"
                    },
                    {
                        "$ref": "#/parameters/trait:limit:limit"
                    },
                    {
                        "$ref": "#/parameters/trait:skip:skip"
                    },
                    {
                        "$ref": "#/parameters/trait:sort:sort"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "",
                        "schema": {}
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "post": {
                "operationId": "POST_tags",
                "summary": "Create a Tag",
                "description": "Create a tag.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "A unique name for the Tag."
                                },
                                "systems": {
                                    "type": "array",
                                    "description": "An array of system ids that are associated to the Tag.",
                                    "items": {}
                                },
                                "systemusers": {
                                    "type": "array",
                                    "description": "An array of system user ids that are associated to the Tag.",
                                    "items": {}
                                },
                                "expirationTime": {
                                    "type": "integer",
                                    "description": "A date timestamp indicating when this Tag will expire itself. When a Tag expires it will revoke any system user to system associations."
                                }
                            },
                            "required": [
                                "name"
                            ],
                            "example": {
                                "name": "oc",
                                "systems": [
                                    {},
                                    {}
                                ],
                                "systemusers": [
                                    {},
                                    {},
                                    {},
                                    {},
                                    {}
                                ],
                                "expirationTime": -60537061
                            }
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "_id": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "systems": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                },
                                "systemusers": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                },
                                "regularExpressions": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                },
                                "externallyManaged": {
                                    "type": "boolean"
                                },
                                "sendToLDAP": {
                                    "type": "boolean"
                                }
                            }
                        },
                        "examples": {
                            "application/json; charset=utf-8": {
                                "_id": "58ea6b6610caf935133a3822",
                                "name": "test123",
                                "systems": [],
                                "systemusers": [],
                                "regularExpressions": [],
                                "externallyManaged": false,
                                "sendToLDAP": false
                            }
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/commands/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "delete": {
                "operationId": "DELETE_commands-id",
                "summary": "Delete a Command",
                "description": "Delete a specific command.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "get": {
                "operationId": "GET_commands-id",
                "summary": "List an individual Command",
                "description": "Return a single command using the command ID.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "$ref": "#/parameters/trait:fields:fields"
                    },
                    {
                        "$ref": "#/parameters/trait:limit:limit"
                    },
                    {
                        "$ref": "#/parameters/trait:skip:skip"
                    },
                    {
                        "$ref": "#/parameters/trait:sort:sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commands"
                        },
                        "examples": {
                            "application/json; charset=utf-8": {
                                "command": "nostrud dolore ullamco quis",
                                "user": "sint irure",
                                "systems": [
                                    "amet Excepteur esse culpa pariatur",
                                    "nisi aliquip reprehenderit consectetur",
                                    "magna",
                                    "officia adipisicing irure nisi in",
                                    "eiu"
                                ],
                                "schedule": "nisi Lorem deserunt cons",
                                "files": [
                                    "adipisicing fugiat eiusmod occaecat",
                                    "aliquip",
                                    "dolor reprehenderit in",
                                    "quis",
                                    "ullamco"
                                ],
                                "tags": [
                                    "ipsum occaecat do",
                                    "laboris et",
                                    "Excepteur labor",
                                    "in exerci"
                                ],
                                "timeout": "null"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "put": {
                "operationId": "PUT_commands-id",
                "summary": "Update a Command",
                "description": "Updates a command record from the command ID and returns the modified command record.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/commands"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commands"
                        },
                        "examples": {
                            "application/json; charset=utf-8": {
                                "command": "sunt ut cillum",
                                "user": "culpa exercitation Lor",
                                "systems": [
                                    "sint",
                                    "nisi in esse mollit"
                                ],
                                "schedule": "comm",
                                "files": [
                                    "minim",
                                    "in in proident non amet",
                                    "tempor laboris id nostrud sit",
                                    "quis",
                                    "elit ea"
                                ],
                                "tags": [
                                    "et paria",
                                    "magna qui",
                                    "officia",
                                    "fugiat",
                                    "aliqua reprehe"
                                ],
                                "timeout": "Excepteur mollit consectetur dolore deserunt"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/systems": {
            "get": {
                "operationId": "GET_systems",
                "summary": "List All Systems",
                "description": "Returns all Systems.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "$ref": "#/parameters/trait:fields:fields"
                    },
                    {
                        "$ref": "#/parameters/trait:limit:limit"
                    },
                    {
                        "$ref": "#/parameters/trait:skip:skip"
                    },
                    {
                        "$ref": "#/parameters/trait:sort:sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "organization": {
                                                "type": "string"
                                            },
                                            "created": {
                                                "type": "string"
                                            },
                                            "lastContact": {
                                                "type": "string"
                                            },
                                            "os": {
                                                "type": "string"
                                            },
                                            "version": {
                                                "type": "string"
                                            },
                                            "arch": {
                                                "type": "string"
                                            },
                                            "networkInterfaces": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "address": {
                                                            "type": "string"
                                                        },
                                                        "family": {
                                                            "type": "string"
                                                        },
                                                        "internal": {
                                                            "type": "boolean"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "hostname": {
                                                "type": "string"
                                            },
                                            "displayName": {
                                                "type": "string"
                                            },
                                            "systemTimezone": {
                                                "type": "integer"
                                            },
                                            "templateName": {
                                                "type": "string"
                                            },
                                            "remoteIP": {
                                                "type": "string"
                                            },
                                            "active": {
                                                "type": "boolean"
                                            },
                                            "sshdParams": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object"
                                                }
                                            },
                                            "allowSshPasswordAuthentication": {
                                                "type": "boolean"
                                            },
                                            "allowSshRootLogin": {
                                                "type": "boolean"
                                            },
                                            "allowMultiFactorAuthentication": {
                                                "type": "boolean"
                                            },
                                            "allowPublicKeyAuthentication": {
                                                "type": "boolean"
                                            },
                                            "modifySSHDConfig": {
                                                "type": "boolean"
                                            },
                                            "agentVersion": {
                                                "type": "string"
                                            },
                                            "connectionHistory": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object"
                                                }
                                            },
                                            "sshRootEnabled": {
                                                "type": "boolean"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "_id": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "totalCount": {
                                    "type": "integer"
                                }
                            }
                        },
                        "examples": {
                            "application/json; charset=utf-8": {
                                "results": [
                                    {
                                        "hostname": "Duis",
                                        "allowMultiFactorAuthentication": true,
                                        "active": false,
                                        "templateName": "tempor Lorem U",
                                        "_id": "do velit",
                                        "organization": "ullamco officia exercitation",
                                        "modifySSHDConfig": false,
                                        "id": "ipsum aute",
                                        "sshRootEnabled": true,
                                        "agentVersion": "in ex ipsum dolor",
                                        "os": "anim dolor",
                                        "networkInterfaces": [
                                            {
                                                "address": "consequat voluptate laboris"
                                            },
                                            {
                                                "name": "cillum voluptate"
                                            },
                                            {},
                                            {
                                                "family": "nulla reprehenderit ipsum"
                                            }
                                        ],
                                        "allowPublicKeyAuthentication": false,
                                        "systemTimezone": -97987266,
                                        "allowSshPasswordAuthentication": false,
                                        "remoteIP": "Excepteur",
                                        "sshdParams": [
                                            {},
                                            {}
                                        ],
                                        "lastContact": "labore in sit laboris"
                                    },
                                    {
                                        "networkInterfaces": [
                                            {},
                                            {
                                                "family": "ut nulla laboris fugiat"
                                            },
                                            {
                                                "address": "sed dolore ut et dolor"
                                            }
                                        ],
                                        "connectionHistory": [
                                            {},
                                            {},
                                            {}
                                        ],
                                        "id": "ut officia commodo cillum",
                                        "allowPublicKeyAuthentication": true,
                                        "allowSshPasswordAuthentication": false,
                                        "version": "occaecat",
                                        "remoteIP": "nisi aliqua culpa",
                                        "modifySSHDConfig": false,
                                        "_id": "ut in occaecat adi",
                                        "allowSshRootLogin": false,
                                        "active": false,
                                        "displayName": "dolore cillum ullamco ",
                                        "templateName": "ex ipsum eu",
                                        "allowMultiFactorAuthentication": false,
                                        "lastContact": "veniam",
                                        "hostname": "sed deserunt cillum Lorem labore",
                                        "arch": "officia sint minim consectetur elit",
                                        "created": "velit et minim aliquip",
                                        "systemTimezone": -46125831,
                                        "organization": "elit",
                                        "sshRootEnabled": false
                                    },
                                    {
                                        "lastContact": "dolor",
                                        "id": "occaecat ipsum ut ",
                                        "sshRootEnabled": true,
                                        "allowMultiFactorAuthentication": false
                                    }
                                ],
                                "totalCount": 4712711
                            }
                        }
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/commandresults/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_commandresults-id",
                "summary": "List an individual Command result",
                "description": "Returns a specific command result.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "$ref": "#/parameters/trait:fields:fields"
                    },
                    {
                        "$ref": "#/parameters/trait:limit:limit"
                    },
                    {
                        "$ref": "#/parameters/trait:skip:skip"
                    },
                    {
                        "$ref": "#/parameters/trait:sort:sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/commandresults"
                        },
                        "examples": {
                            "application/json; charset=utf-8": {
                                "command": "aliquip culpa enim in elit",
                                "system": "dolore cillum et occaecat fug",
                                "organization": "in magna Duis sint amet",
                                "user": "Ut eni",
                                "files": [
                                    "sed irure in sit id",
                                    "sint ulla",
                                    "fugiat eu Duis"
                                ],
                                "requestTime": "4790-09-21",
                                "responseTime": "2257-11-09",
                                "response.id": "sit adipisicing Duis aliqui",
                                "response.data.output": 1758997
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            },
            "delete": {
                "operationId": "DELETE_commandresults-id",
                "summary": "Delete a Command result",
                "description": "Deletes a specific command result.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "command": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "system": {
                                    "type": "string"
                                },
                                "organization": {
                                    "type": "string"
                                },
                                "workflowId": {
                                    "type": "string"
                                },
                                "workflowInstanceId": {
                                    "type": "string"
                                },
                                "user": {
                                    "type": "string"
                                },
                                "sudo": {
                                    "type": "boolean"
                                },
                                "files": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                },
                                "requestTime": {
                                    "type": "string"
                                },
                                "responseTime": {
                                    "type": "string"
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "output": {
                                                    "type": "string"
                                                },
                                                "exitCode": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "error": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "_id": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/Tag/{name}": {
            "parameters": [
                {
                    "name": "name",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "put": {
                "operationId": "PUT_Tag-name",
                "summary": "Update a Tag",
                "description": "Update a specific tag.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "description": "A unique name for the Tag."
                                },
                                "systems": {
                                    "type": "array",
                                    "description": "An array of system ids that are associated to the Tag.",
                                    "items": {}
                                },
                                "systemusers": {
                                    "type": "array",
                                    "description": "An array of system user ids that are associated to the Tag.",
                                    "items": {}
                                },
                                "expirationTime": {
                                    "type": "integer",
                                    "description": "A date timestamp indicating when this Tag will expire itself. When a Tag expires it will revoke any system user to system associations."
                                }
                            },
                            "required": [
                                "name"
                            ],
                            "example": {
                                "name": "velit sint enim ea et",
                                "systems": [
                                    {},
                                    {},
                                    {},
                                    {},
                                    {}
                                ],
                                "systemusers": [
                                    {},
                                    {},
                                    {}
                                ],
                                "expirationTime": -5471936
                            }
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "type": "string",
                        "default": "application/json"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "",
                        "schema": {}
                    }
                },
                "security": [
                    {
                        "x-api-key": []
                    }
                ]
            }
        },
        "/systems/{systemID}/systemusers": {
            "parameters": [
                {
                    "name": "systemID",
                    "in": "path",
[...]
