---
swagger: "2.0"
info:
  description: " JumpCloud's V1 API. This set of endpoints allows JumpCloud customers\
    \ to manage commands, systems, & system users."
  version: "1.0"
  title: "JumpCloud APIs"
host: "console.jumpcloud.com"
basePath: "/api"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json; charset=utf-8"
paths:
  /applications:
    get:
      tags:
      - "Applications"
      summary: "Applications"
      description: "The endpoint returns all your SSO / SAML Applications.\n\n####\
        \ Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/applications\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \n\n```"
      operationId: "applications_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\
          \ If omitted the default list of fields will be returned."
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once."
        required: false
        type: "integer"
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        required: false
        type: "string"
        default: "The comma separated fields used to sort the collection. Default\
          \ sort is ascending, prefix with - to sort descending."
        x-exportParamName: "Sort"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/applicationslist"
      security:
      - x-api-key: []
      x-stoplight:
        id: "applications_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /command/trigger/{triggername}:
    post:
      tags:
      - "Command Triggers"
      summary: "Launch a command via a Trigger"
      description: "This endpoint allows you to launch a command based on a defined\
        \ trigger.\n\n#### Sample Requests\n\n**Launch a Command via a Trigger**\n\
        \n```\ncurl --silent \\\n     -X 'POST' \\\n     -H \"x-api-key: {API_KEY}\"\
        \ \\\n     \"https://console.jumpcloud.com/api/command/trigger/{TriggerName}\"\
        \n```\n**Launch a Command via a Trigger passing a JSON object to the command**\n\
        ```\ncurl --silent \\\n     -X 'POST' \\\n     -H \"x-api-key: {API_KEY}\"\
        \ \\\n     -H 'Accept: application/json' \\\n     -H 'Content-Type: application/json'\
        \ \\\n     -d '{ \"srcip\":\"192.168.2.32\", \"attack\":\"Cross Site Scripting\
        \ Attempt\" }' \\\n     \"https://console.jumpcloud.com/api/command/trigger/{TriggerName}\"\
        \n```"
      operationId: "command_trigger_webhook_post"
      parameters:
      - name: "triggername"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Triggername"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
        401:
          description: ""
      security:
      - x-api-key: []
      x-stoplight:
        id: "command_trigger_webhook_post"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
  /commands/:
    get:
      tags:
      - "Commands"
      summary: "List All Commands"
      description: "This endpoint returns all commands.\n\n#### Sample Request\n```\n\
        curl -X GET https://console.jumpcloud.com/api/commands/ \\\n  -H 'Accept:\
        \ application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key:\
        \ {API_KEY}'\n\n```"
      operationId: "commands_list"
      parameters:
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "fields"
        in: "query"
        description: "Use a space seperated string of field parameters to include\
          \ the data in the response. If omitted the default list of fields will be\
          \ returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "sort"
        in: "query"
        description: "Use space separated sort parameters to sort the collection.\n\
          Default sort is ascending. Prefix with `-` to sort descending.\n"
        required: false
        type: "string"
        x-exportParamName: "Sort"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/commandslist"
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "commands_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
    post:
      tags:
      - "Commands"
      summary: "Create A Command"
      description: "This endpoint allows you to create a new command.\n\n#### Sample\
        \ Request\n\n```\ncurl -X POST https://console.jumpcloud.com/api/commands/\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n\t\"name\":\"Test API Command\"\
        ,\n\t\"command\":\"String\",\n\t\"user\":\"{UserID}\",\n\t\"schedule\":\"\"\
        ,\n\t\"timeout\":\"100\"\n}'\n\n```"
      operationId: "commands_post"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/command"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/command"
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "commands_post"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
  /commands/{id}:
    get:
      tags:
      - "Commands"
      summary: "List an individual Command"
      description: "This endpoint returns a specific command based on the command\
        \ ID.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/commands/{CommandID}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \n```"
      operationId: "commands_get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: "Use a space seperated string of field parameters to include\
          \ the data in the response. If omitted the default list of fields will be\
          \ returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/command"
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "commands_get"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
    put:
      tags:
      - "Commands"
      summary: "Update a Command"
      description: "This endpoint Updates a command based on the command ID and returns\
        \ the modified command record.\n\n#### Sample Request\n```\ncurl -X PUT https://console.jumpcloud.com/api/commands/{CommandID}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n\t\"name\":\"Test API Command\"\
        ,\n\t\"command\":\"String\",\n\t\"user\":\"{UserID}\",\n\t\"schedule\":\"\"\
        ,\n\t\"timeout\":\"100\"\n}'\n\n```"
      operationId: "commands_put"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/command"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/command"
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "commands_put"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
    delete:
      tags:
      - "Commands"
      summary: "Delete a Command"
      description: "This endpoint deletes a specific command based on the Command\
        \ ID.\n\n#### Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/commands/{CommandID}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n\n```"
      operationId: "commands_delete"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "commands_delete"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
  /files/command/{id}:
    get:
      tags:
      - "Commands"
      summary: "Get a Command File"
      description: "This endpoint returns the uploaded file(s) associated with a specific\
        \ command.\n\n#### Sample Request\n\n```\ncurl -X GET https://console.jumpcloud.com/api/files/command/{commandID}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \n  ```"
      operationId: "command_file_get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: "Use a space seperated string of field parameters to include\
          \ the data in the response. If omitted the default list of fields will be\
          \ returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/commandfilereturn"
        400:
          description: ""
          schema:
            type: "object"
            properties: {}
      security:
      - x-api-key: []
      x-stoplight:
        id: "command_file_get"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /commandresults:
    get:
      tags:
      - "Command Results"
      summary: "List all Command Results"
      description: "This endpoint returns all command results.\n\n#### Sample Request\n\
        ```\ncurl -X GET https://console.jumpcloud.com/api/commandresults \\\n  -H\
        \ 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n\
        \  -H 'x-api-key:{API_KEY}'\n  ```"
      operationId: "command_results_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "Use a space seperated string of field parameters to include\
          \ the data in the response. If omitted the default list of fields will be\
          \ returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "Use space separated sort parameters to sort the collection.\n\
          Default sort is ascending. Prefix with `-` to sort descending.\n"
        required: false
        type: "string"
        x-exportParamName: "Sort"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/commandresultslist"
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "command_results_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
  /commandresults/{id}:
    get:
      tags:
      - "Command Results"
      summary: "List an individual Command result"
      description: "This endpoint returns a specific command result.\n\n#### Sample\
        \ Request\n```\ncurl -X GET https://console.jumpcloud.com/api/commandresults/{CommandID}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \n  ```"
      operationId: "command_results_get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: "Use a space seperated string of field parameters to include\
          \ the data in the response. If omitted the default list of fields will be\
          \ returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/commandresult"
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "command_results_get"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
    delete:
      tags:
      - "Command Results"
      summary: "Delete a Command result"
      description: "This endpoint deletes a specific command result.\n\n#### Sample\
        \ Request\n```\ncurl -X GET https://console.jumpcloud.com/api/commandresults/{CommandID}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \n  ````"
      operationId: "command_results_delete"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/commandresult"
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "command_results_delete"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
  /organizations:
    get:
      tags:
      - "Organizations"
      summary: "Get Organization Details"
      description: "This endpoint returns Organization Details.\n\n#### Sample Request\
        \ \n\n```\ncurl -X GET \\\n  https://console.jumpcloud.com/api/organizations\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "organization_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "Use a space seperated string of field parameters to include\
          \ the data in the response. If omitted the default list of fields will be\
          \ returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "Use space separated sort parameters to sort the collection.\n\
          Default sort is ascending. Prefix with `-` to sort descending.\n"
        required: false
        type: "string"
        x-exportParamName: "Sort"
      - name: "search"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Search"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/organizationslist"
      security:
      - x-api-key: []
      x-stoplight:
        id: "organization_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /radiusservers:
    get:
      tags:
      - "Radius Servers"
      summary: "List Radius Servers"
      description: "This endpoint allows you to get a list of all RADIUS servers in\
        \ your organization.\n\n#### Sample Request\n```\ncurl -X GET https://console.jumpcloud.com/api/radiusservers/\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n```"
      operationId: "radius_servers_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "Use a space seperated string of field parameters to include\
          \ the data in the response. If omitted the default list of fields will be\
          \ returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "Use space separated sort parameters to sort the collection.\n\
          Default sort is ascending. Prefix with `-` to sort descending.\n"
        required: false
        type: "string"
        x-exportParamName: "Sort"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/radiusserverslist"
      security:
      - x-api-key: []
      x-stoplight:
        id: "radius_servers_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Radius Servers"
      summary: "Create a Radius Server"
      description: "This endpoint allows you to create RADIUS servers in your organization.\n\
        \n#### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/radiusservers/\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"name\": \"{test_radius}\"\
        ,\n    \"networkSourceIp\": \"{0.0.0.0}\",\n    \"sharedSecret\":\"{secretpassword}\"\
        \n}'\n```"
      operationId: "radius_servers_post"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/radiusserverpost"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/radiusserverslist"
      security:
      - x-api-key: []
      x-stoplight:
        id: "radius_servers_post"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /radiusservers:id:
    put:
      tags:
      - "Radius Servers"
      summary: "Update Radius Servers"
      description: "This endpoint allows you to update RADIUS servers in your organization.\n\
        \n#### \n```\ncurl -X PUT https://console.jumpcloud.com/api/radiusservers/{ServerID}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n    \"name\": \"{name_update}\"\
        ,\n    \"networkSourceIp\": \"{0.0.0.0}\"\n}'\n```"
      operationId: "radius_servers_put"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/body"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/radiusserverput"
      security:
      - x-api-key: []
      x-stoplight:
        id: "radius_servers_put"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /search/organizations:
    post:
      tags:
      - "Search"
      summary: "Search Organizations"
      description: "This endpoint will return Organization data based on your search\
        \ parameters. This endpoint WILL NOT allow you to add a new Organization.\n\
        \nYou can use the supported parameters and pass those in the body of request.\
        \ \n\nThe parameters must be passed as Content-Type application/json.\n\n\n\
        #### Sample Request\n```\ncurl -X POST https://console.jumpcloud.com/api/search/organizations\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n  \"search\":{\n    \"fields\"\
        \ : [\"settings.name\"],\n    \"searchTerm\": \"Second\"\n    },\n  \"fields\"\
        : [\"_id\", \"displayName\", \"logoUrl\"],\n  \"limit\" : 0,\n  \"skip\" :\
        \ 0\n}'\n```"
      operationId: "search_organizations_post"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/search"
        x-exportParamName: "Body"
      - name: "fields"
        in: "query"
        description: "Use a space seperated string of field parameters to include\
          \ the data in the response. If omitted the default list of fields will be\
          \ returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/organizationslist"
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "search_organizations_post"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
  /search/systems:
    post:
      tags:
      - "Search"
      summary: "Search Systems"
      description: "Return Systems in multi-record format allowing for the passing\
        \ of the 'filter' parameter. This WILL NOT allow you to add a new system.\n\
        \nTo support advanced filtering you can use the `filter` parameter that can\
        \ only be passed in the body of POST /api/search/* routes. The `filter` parameter\
        \ must be passed as Content-Type application/json supports advanced filtering\
        \ using the MongoDB JSON query syntax. \n\nThe `filter` parameter is an object\
        \ with a single property, either and or or with the value of the property\
        \ being an array of query expressions. \n\nThis allows you to filter records\
        \ using the logic of matching ALL or ANY records in the array of query expressions.\
        \ If the and or or are not included the default behavior is to match ALL query\
        \ expressions.\n\n\n#### Sample Request\n\n```\ncurl -X POST https://console.jumpcloud.com/api/search/systems\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n\"filter\" :\n    {\n     \
        \   \"or\" :\n            [\n                {\"hostname\" : { \"$regex\"\
        \ : \"^www\" }},\n                {\"hostname\" : {\"$regex\" : \"^db\"}}\n\
        \            ]\n    },\n\"fields\" : \"os hostname displayName\"\n}'\n```"
      operationId: "search_systems_post"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/search"
        x-exportParamName: "Body"
      - name: "fields"
        in: "query"
        description: "Use a space seperated string of field parameters to include\
          \ the data in the response. If omitted the default list of fields will be\
          \ returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/systemslist"
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "search_systems_post"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
  /search/systemusers:
    post:
      tags:
      - "Search"
      summary: "Search System Users"
      description: "Return System Users in multi-record format allowing for the passing\
        \ of the 'filter' parameter. This WILL NOT allow you to add a new system user.\n\
        \nTo support advanced filtering you can use the `filter` parameter that can\
        \ only be passed in the body of POST /api/search/* routes. The `filter` parameter\
        \ must be passed as Content-Type application/json supports advanced filtering\
        \ using the MongoDB JSON query syntax. \n\nThe `filter` parameter is an object\
        \ with a single property, either and or or with the value of the property\
        \ being an array of query expressions. \n\nThis allows you to filter records\
        \ using the logic of matching ALL or ANY records in the array of query expressions.\
        \ If the and or or are not included the default behavior is to match ALL query\
        \ expressions.\n\n#### Sample Request\n\n```\ncurl -X POST https://console.jumpcloud.com/api/search/systemusers\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n\"filter\" : [{\"email\" :\
        \ { \"$regex\" : \"gmail.com$\"}}],\n\"fields\" : \"email username sudo\"\n\
        }'\n```"
      operationId: "search_systemusers_post"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/search"
        x-exportParamName: "Body"
      - name: "fields"
        in: "query"
        description: "Use a space seperated string of field parameters to include\
          \ the data in the response. If omitted the default list of fields will be\
          \ returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/systemuserslist"
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "search_systemusers_post"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
  /systems:
    get:
      tags:
      - "Systems"
      summary: "List All Systems"
      description: "This endpoint returns all Systems.\n\n#### Sample Requests\n```\n\
        curl -X GET https://console.jumpcloud.com/api/systems \\\n  -H 'Accept: application/json'\
        \ \\\n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}'\
        \ \n\n```"
      operationId: "systems_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "Use a space seperated string of field parameters to include\
          \ the data in the response. If omitted the default list of fields will be\
          \ returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "Use space separated sort parameters to sort the collection.\n\
          Default sort is ascending. Prefix with `-` to sort descending.\n"
        required: false
        type: "string"
        x-exportParamName: "Sort"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/systemslist"
      security:
      - x-api-key: []
      x-stoplight:
        id: "systems_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /systems/{id}:
    get:
      tags:
      - "Systems"
      summary: "List an individual system"
      description: "This endpoint returns an individual system.\n\n#### Sample Request\n\
        ```\ncurl -X GET https://console.jumpcloud.com/api/systems/{SystemID} \\\n\
        \  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \n  ```"
      operationId: "systems_get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: "Use a space seperated string of field parameters to include\
          \ the data in the response. If omitted the default list of fields will be\
          \ returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "Date"
        in: "header"
        description: "Current date header for the System Context API"
        required: false
        type: "string"
        x-exportParamName: "Date"
      - name: "Authorization"
        in: "header"
        description: "Authorization header for the System Context API"
        required: false
        type: "string"
        x-exportParamName: "Authorization"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/system"
      security:
      - x-api-key: []
      x-stoplight:
        id: "systems_get"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    put:
      tags:
      - "Systems"
      summary: "Update a system"
      description: "This endpoint allows you to update a system.\n\n#### Sample Request\
        \ \n```\ncurl -X PUT https://console.jumpcloud.com/api/systems/{SystemID}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n\t\"displayName\":\"Name_Update\"\
        ,\n\t\"allowSshPasswordAuthentication\":\"true\",\n\t\"allowSshRootLogin\"\
        :\"true\",\n\t\"allowMultiFactorAuthentication\":\"true\",\n\t\"allowPublicKeyAuthentication\"\
        :\"false\"\n}'\n```"
      operationId: "systems_put"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/systemput"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "Date"
        in: "header"
        description: "Current date header for the System Context API"
        required: false
        type: "string"
        x-exportParamName: "Date"
      - name: "Authorization"
        in: "header"
        description: "Authorization header for the System Context API"
        required: false
        type: "string"
        x-exportParamName: "Authorization"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
      security:
      - x-api-key: []
      x-stoplight:
        id: "systems_put"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    delete:
      tags:
      - "Systems"
      summary: "Delete a System"
      description: "This endpoint allows you to delete a system. This command will\
        \ cause the system to uninstall the JumpCloud agent from its self which can\
        \ can take about a minute. If the system is not connected to JumpCloud the\
        \ system record will simply be removed.\n\n#### Sample Request\n```\ncurl\
        \ -X DELETE https://console.jumpcloud.com/api/systems/{SystemID} \\\n  -H\
        \ 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n\
        \  -H 'x-api-key: {API_KEY}'\n  ```"
      operationId: "systems_delete"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "Date"
        in: "header"
        description: "Current date header for the System Context API"
        required: false
        type: "string"
        x-exportParamName: "Date"
      - name: "Authorization"
        in: "header"
        description: "Authorization header for the System Context API"
        required: false
        type: "string"
        x-exportParamName: "Authorization"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/system"
      security:
      - x-api-key: []
      x-stoplight:
        id: "systems_delete"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /systems/{id}/systemusers:
    get:
      tags:
      - "Systems"
      summary: "List system user bindings"
      description: "Hidden as Tags is deprecated\n\nList system user bindings for\
        \ a specific system in a system and user binding format.\n\nThis endpoint\
        \ is only used for users still using JumpCloud Tags. If you are using JumpCloud\
        \ Groups please refer to the documentation found [here](https://docs.jumpcloud.com/2.0/systems/manage-associations-of-a-system).\n\
        \n#### Sample Request\n\n*List system user bindings for specific system*\n\
        \n```\ncurl -X https://console.jumpcloud.com/api/systems/{SystemID}/systemusers\\\
        \n  -H 'Content-Type: application/json' \\\n  -H 'x-api-key: {API_KEY}' \\\
        \n  \"\n```"
      operationId: "systems_systemusers_binding_list"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: "Use a space seperated string of field parameters to include\
          \ the data in the response. If omitted the default list of fields will be\
          \ returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "Use space separated sort parameters to sort the collection.\n\
          Default sort is ascending. Prefix with `-` to sort descending.\n"
        required: false
        type: "string"
        x-exportParamName: "Sort"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/systemuserbinding"
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "systems_systemusers_binding_list"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
    put:
      tags:
      - "Systems"
      summary: "Update a system's or user's binding"
      description: "Hidden as Tags is deprecated\n\nAdds or removes a user binding\
        \ for a system.\n\nThis endpoint is only used for users still using JumpCloud\
        \ Tags. If you are using JumpCloud Groups please refer to the documentation\
        \ found [here](https://docs.jumpcloud.com/2.0/systems/manage-associations-of-a-system).\n\
        \n#### Sample Request\n\n*Add (or remove) a system user to (from) a system*\n\
        \n```\ncurl \\\n  -d '{ \"add\": [\"[SYSTEM_USER_ID_TO_ADD_HERE]\"], \"remove\"\
        : [\"[SYSTEM_USER_ID_TO_REMOVE_HERE]\"] }' \\\n  -X PUT \\\n  -H 'Content-Type:\
        \ application/json' \\\n  -H 'Accept: application/json' \\\n  -H \"x-api-key:\
        \ [YOUR_API_KEY_HERE]\" \\\n  \"https://console.jumpcloud.com/api/systems/[SYSTEM_ID_HERE]/systemusers"
      operationId: "systems_systemusers_binding_put"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/systemuserbindingsput"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
        400:
          description: ""
          schema:
            type: "object"
            properties: {}
      security:
      - x-api-key: []
      x-stoplight:
        id: "systems_systemusers_binding_put"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
  /systemusers:
    get:
      tags:
      - "Systemusers"
      summary: "List all system users"
      description: "This endpoint returns all systemusers.\n\n#### Sample Request\n\
        \n```\ncurl -X GET https://console.jumpcloud.com/api/systemusers \\\n  -H\
        \ 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n\
        \  -H 'x-api-key: {API_KEY}' \n```"
      operationId: "systemusers_list"
      parameters:
      - name: "limit"
        in: "query"
        description: "The number of records to return at once."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "The comma separated fields used to sort the collection.\nDefault\
          \ sort is ascending, prefix with `-` to sort descending.\n"
        required: false
        type: "string"
        x-exportParamName: "Sort"
      - name: "fields"
        in: "query"
        description: "The comma separated fields included in the returned records.\n\
          If omitted the default list of fields will be returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "filter"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Filter"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/systemuserslist"
        401:
          description: ""
      security:
      - x-api-key: []
      x-stoplight:
        id: "systemusers_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
    post:
      tags:
      - "Systemusers"
      summary: "Create a system user"
      description: "This endpoint allows you to create a new system user.\n\n####\
        \ Sample Request\n\n```\ncurl -X POST https://console.jumpcloud.com/api/systemusers\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n\t\"username\":\"{username}\"\
        ,\n\t\"email\":\"{email_address}\",\n\t\"firstname\":\"{Name}\",\n\t\"lastname\"\
        :\"{Name}\"\n}'\n```"
      operationId: "systemusers_post"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/systemuserputpost"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "User added successfully"
          schema:
            $ref: "#/definitions/systemuserreturn"
        400:
          description: "User already exists"
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "systemusers_post"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
  /systemusers/{id}:
    get:
      tags:
      - "Systemusers"
      summary: "List a system user"
      description: "This endpoint returns a particular System User.\n\n#### Sample\
        \ Request\n\n```\ncurl -X GET https://console.jumpcloud.com/api/systemusers/{UserID}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n```"
      operationId: "systemusers_get"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: "Use a space seperated string of field parameters to include\
          \ the data in the response. If omitted the default list of fields will be\
          \ returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/systemuserreturn"
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "systemusers_get"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
    put:
      tags:
      - "Systemusers"
      summary: "Update a system user"
      description: "This endpoint allows you to update a system user.\n\n#### Sample\
        \ Request\n\n```\ncurl -X PUT https://console.jumpcloud.com/api/systemusers/{UserID}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \\\n  -d '{\n\t\"email\":\"{email_address}\"\
        ,\n\t\"firstname\":\"{Name}\",\n\t\"lastname\":\"{Name}\"\n}'\n```"
      operationId: "systemusers_put"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/systemuserput"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/systemuserreturn"
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "systemusers_put"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
    delete:
      tags:
      - "Systemusers"
      summary: "Delete a system user"
      description: "This endpoint allows you to delete a particular system user.\n\
        \n#### Sample Request\n```\ncurl -X DELETE https://console.jumpcloud.com/api/systemusers/{UserID}\
        \ \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'\
        \ \\\n  -H 'x-api-key: {API_KEY}' \n```"
      operationId: "systemusers_delete"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/systemuserreturn"
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "systemusers_delete"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
  /systemusers/{id}/systems:
    get:
      tags:
      - "Systemusers"
      summary: "List system user binding"
      description: "Hidden as Tags is deprecated\n\nAdds or removes a system binding\
        \ for a user. \n\nThis endpoint is only used for users still using JumpCloud\
        \ Tags. If you are using JumpCloud Groups please refer to the documentation\
        \ found [here](https://docs.jumpcloud.com/2.0/systems/manage-associations-of-a-system).\n\
        \n\nList system bindings for a specific system user in a system and user binding\
        \ format.\n\n### Examples\n\n#### List system bindings for specific system\
        \ user\n\n```\ncurl \\\n  -H 'Content-Type: application/json' \\\n  -H \"\
        x-api-key: [YOUR_API_KEY_HERE]\" \\\n  \"https://console.jumpcloud.com/api/systemusers/[SYSTEM_USER_ID_HERE]/systems\"\
        \n```"
      operationId: "systemusers_systems_binding_list"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "fields"
        in: "query"
        description: "Use a space seperated string of field parameters to include\
          \ the data in the response. If omitted the default list of fields will be\
          \ returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "Use space separated sort parameters to sort the collection.\n\
          Default sort is ascending. Prefix with `-` to sort descending.\n"
        required: false
        type: "string"
        x-exportParamName: "Sort"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            type: "object"
            properties: {}
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "systemusers_systems_binding_list"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
    put:
      tags:
      - "Systemusers"
      summary: "Update a system user binding"
      description: "Hidden as Tags is deprecated\n\nAdds or removes a system binding\
        \ for a user. \n\nThis endpoint is only used for users still using JumpCloud\
        \ Tags. If you are using JumpCloud Groups please refer to the documentation\
        \ found [here](https://docs.jumpcloud.com/2.0/systems/manage-associations-of-a-system).\n\
        \n### Example\n\n#### Add (or remove) system to system user\n\n```\ncurl \\\
        \n  -d '{ \"add\": [\"[SYSTEM_ID_TO_ADD_HERE]\"], \"remove\": [\"[SYSTEM_ID_TO_REMOVE_HERE]\"\
        ] }' \\\n  -X PUT \\\n  -H 'Content-Type: application/json' \\\n  -H 'Accept:\
        \ application/json' \\\n  -H \"x-api-key: [YOUR_API_KEY_HERE]\" \\\n  \"https://console.jumpcloud.com/api/systemusers/[SYSTEM_USER_ID_HERE]/systems\"\
        \n```"
      operationId: "systemusers_systems_binding_put"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/usersystembindingsput"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/usersystembinding"
        401:
          description: "Unauthorized"
      security:
      - x-api-key: []
      x-stoplight:
        id: "systemusers_systems_binding_put"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          statusCode: 200
          dynamic: false
          enabled: false
  /systemusers/{id}/resetmfa:
    post:
      tags:
      - "Systemusers"
      summary: "Reset a system user's MFA token"
      description: "This endpoint allows you to reset the MFA TOTP token for a specified\
        \ system user. This will result in a user being required to complete the setup\
        \ of their MFA TOTP token via an email notification sent from Jumpcloud. Please\
        \ be aware, that until MFA setup is complete, a user may be locked out of\
        \ systems or applications. \n\nPlease refer to our [Knowledge Base Article](https://support.jumpcloud.com/customer/en/portal/articles/2443975-how-to-enable-multifactor-authentication-for-the-jumpcloud-user-portal)\
        \ on setting up MFA for more information. \n\n#### Sample Request \n```\n\
        curl -X POST \\\n  https://console.jumpcloud.com/api/systemusers/{UserID}/resetmfa\
        \ \\\n  -H 'x-api-key: {API_KEY}'\n\n```"
      operationId: "systemusers_resetmfa"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "x-api-key"
        in: "header"
        required: true
        type: "string"
        x-exportParamName: "XApiKey"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            type: "string"
            description: "OK"
        400:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        401:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        403:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        404:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
        500:
          description: ""
          schema:
            $ref: "#/definitions/errorresponse"
      security:
      - x-api-key: []
      x-stoplight:
        id: "systemusers_resetmfa"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /systemusers/{id}/sshkeys:
    get:
      tags:
      - "Systemusers"
      summary: "List a system user's public SSH keys"
      description: "This endpoint will return a specific System User's public SSH\
        \ key."
      operationId: "sshkey_list"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/sshkeylist"
        400:
          description: ""
          schema:
            type: "object"
            description: "Bad Request"
            properties: {}
      security:
      - x-api-key: []
      x-stoplight:
        id: "sshkey_list"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Systemusers"
      summary: "Create a system user's Public SSH Key"
      description: "This endpoint will create a specific System User's Public SSH\
        \ Key."
      operationId: "sshkey_post"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/sshkeypost"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/sshkeylist"
        400:
          description: ""
          schema:
            type: "object"
            description: "Bad Request"
            properties: {}
      security:
      - x-api-key: []
      x-stoplight:
        id: "sshkey_post"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /systemusers/{id}/sshkeys/{id}:
    delete:
      tags:
      - "Systemusers"
      summary: "Delete a system user's Public SSH Keys"
      description: "This endpoint will delete a specific System User's SSH Key."
      operationId: "sshkey_delete"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      - name: "x-org-id"
        in: "header"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "XOrgId"
      responses:
        200:
          description: ""
        400:
          description: ""
          schema:
            type: "object"
            description: "Bad Request"
            properties: {}
      security:
      - x-api-key: []
      x-stoplight:
        id: "sshkey_delete"
        beforeScript: null
        afterScript: null
        public: true
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /tags:
    get:
      tags:
      - "Tags"
      summary: "List All Tags"
      description: "Hidden as Tags is deprecated\n\nReturns all Tags."
      operationId: "tags_list"
      parameters:
      - name: "fields"
        in: "query"
        description: "Use a space seperated string of field parameters to include\
          \ the data in the response. If omitted the default list of fields will be\
          \ returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "Use space separated sort parameters to sort the collection.\n\
          Default sort is ascending. Prefix with `-` to sort descending.\n"
        required: false
        type: "string"
        x-exportParamName: "Sort"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/tagslist"
      security:
      - x-api-key: []
      x-stoplight:
        id: "tags_list"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
    post:
      tags:
      - "Tags"
      summary: "Create a Tag"
      description: "Hidden as Tags is deprecated\n\nCreate a tag.\n\n### Examples\n\
        #### Create a new Tag\n\n```\ncurl \\\n  -d '{\"name\" : \"Developers\"}'\
        \ \\\n  -X 'POST' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Accept:\
        \ application/json' \\\n  -H \"x-api-key: [YOUR_API_KEY_HERE]\" \\\n  \"https://console.jumpcloud.com/api/tags\"\
        \n```"
      operationId: "tags_post"
      parameters:
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/tagpost"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/tag"
          examples:
            application/json; charset=utf-8:
              _id: "58ea6b6610caf935133a3822"
              name: "test123"
              systems: []
              systemusers: []
              regularExpressions: []
              externallyManaged: false
              sendToLDAP: false
      security:
      - x-api-key: []
      x-stoplight:
        id: "tags_post"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /Tags/{name}:
    get:
      tags:
      - "Tags"
      summary: "List a Tag"
      description: "Hidden as Tags is deprecated\n\nReturns a specific tag."
      operationId: "tags_get"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "fields"
        in: "query"
        description: "Use a space seperated string of field parameters to include\
          \ the data in the response. If omitted the default list of fields will be\
          \ returned.\n"
        required: false
        type: "string"
        x-exportParamName: "Fields"
      - name: "limit"
        in: "query"
        description: "The number of records to return at once. Limited to 100."
        required: false
        type: "integer"
        default: 10
        x-exportParamName: "Limit"
      - name: "skip"
        in: "query"
        description: "The offset into the records to return."
        required: false
        type: "integer"
        default: 0
        x-exportParamName: "Skip"
      - name: "sort"
        in: "query"
        description: "Use space separated sort parameters to sort the collection.\n\
          Default sort is ascending. Prefix with `-` to sort descending.\n"
        required: false
        type: "string"
        x-exportParamName: "Sort"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/tag"
      security:
      - x-api-key: []
      x-stoplight:
        id: "tags_get"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /Tag/{name}:
    put:
      tags:
      - "Tags"
      summary: "Update a Tag"
      description: "Hidden as Tags is deprecated\n\nUpdate a specific tag."
      operationId: "tags_put"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - in: "body"
        name: "body"
        required: false
        schema:
          $ref: "#/definitions/tagput"
        x-exportParamName: "Body"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/tag"
      security:
      - x-api-key: []
      x-stoplight:
        id: "tags_put"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
  /tags/{name}:
    delete:
      tags:
      - "Tags"
      summary: "Delete a Tag"
      description: "Hidden as Tags is deprecated\n\nDelete a Tag."
      operationId: "tags_delete"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "ContentType"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        default: "application/json"
        x-exportParamName: "Accept"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/tag"
      security:
      - x-api-key: []
      x-stoplight:
        id: "tags_delete"
        beforeScript: null
        afterScript: null
        public: false
        mock:
          enabled: false
          dynamic: false
          statusCode: 200
securityDefinitions:
  x-api-key:
    type: "apiKey"
    name: "x-api-key"
    in: "header"
definitions:
  sshkeylist:
    type: "object"
    properties:
      create_date:
        type: "string"
        description: "The date the SSH key was created."
      _id:
        type: "string"
        description: "The ID of the SSH key."
      public_key:
        type: "string"
        description: "The Public SSH key."
      name:
        type: "string"
        description: "The name of the SSH key."
    title: "SSHKeyList"
    example:
      public_key: "public_key"
      name: "name"
      _id: "_id"
      create_date: "create_date"
    x-stoplight:
      id: "sshkeylist"
      name: "SSHKeyList"
      public: true
  errorresponse:
    type: "object"
    properties:
      message:
        type: "string"
    title: "ErrorResponse"
    x-stoplight:
      id: "errorresponse"
      name: "ErrorResponse"
      public: true
  systemuser:
    type: "object"
    properties:
      email:
        type: "string"
        maxLength: 1024
      username:
        type: "string"
        maxLength: 1024
      allow_public_key:
        type: "boolean"
      public_key:
        type: "string"
      ssh_keys:
        type: "array"
        items:
          $ref: "#/definitions/sshkeylist"
      sudo:
        type: "boolean"
      enable_managed_uid:
        type: "boolean"
      unix_uid:
        type: "integer"
        minimum: 0
      unix_guid:
        type: "integer"
        minimum: 0
      activated:
        type: "boolean"
      tags:
        type: "array"
        items:
          type: "string"
      password_expired:
        type: "boolean"
      account_locked:
        type: "boolean"
      passwordless_sudo:
        type: "boolean"
      externally_managed:
        type: "boolean"
      external_dn:
        type: "string"
      external_source_type:
        type: "string"
      firstname:
        type: "string"
        maxLength: 1024
      lastname:
        type: "string"
        maxLength: 1024
      ldap_binding_user:
        type: "boolean"
      enable_user_portal_multifactor:
        type: "boolean"
      associatedTagCount:
        type: "integer"
        minimum: 0
      totp_enabled:
        type: "boolean"
      password_expiration_date:
        type: "string"
      attributes:
        type: "array"
        items:
          type: "object"
          properties: {}
      created:
        type: "string"
      samba_service_user:
        type: "boolean"
      password_never_expires:
        type: "boolean"
      _id:
        type: "string"
      middlename:
        type: "string"
        maxLength: 1024
      displayname:
        type: "string"
        maxLength: 1024
      description:
        type: "string"
        maxLength: 1024
      location:
        type: "string"
        maxLength: 1024
      costCenter:
        type: "string"
        maxLength: 1024
      employeeType:
        type: "string"
        maxLength: 1024
      company:
        type: "string"
        maxLength: 1024
      employeeIdentifier:
        type: "string"
        description: "Must be unique per user. "
        maxLength: 256
      jobTitle:
        type: "string"
        maxLength: 1024
      department:
        type: "string"
        maxLength: 1024
    title: "SystemUser"
    x-stoplight:
      id: "systemuser"
      name: "SystemUser"
      public: true
  systemuserputpost:
    type: "object"
    required:
    - "email"
    - "username"
    properties:
      email:
        type: "string"
        maxLength: 1024
      username:
        type: "string"
      allow_public_key:
        type: "boolean"
      public_key:
        type: "string"
      sudo:
        type: "boolean"
      enable_managed_uid:
        type: "boolean"
      unix_uid:
        type: "integer"
        minimum: 0
      unix_guid:
        type: "integer"
        minimum: 0
      activated:
        type: "boolean"
      tags:
        type: "array"
        items:
          type: "string"
      account_locked:
        type: "boolean"
      passwordless_sudo:
        type: "boolean"
      externally_managed:
        type: "boolean"
      external_dn:
        type: "string"
      external_source_type:
        type: "string"
      firstname:
        type: "string"
      lastname:
        type: "string"
      ldap_binding_user:
        type: "boolean"
      enable_user_portal_multifactor:
        type: "boolean"
      attributes:
        type: "array"
        items:
          type: "object"
          properties: {}
      samba_service_user:
        type: "boolean"
      addresses:
        type: "array"
        items:
          $ref: "#/definitions/systemuserputpost_addresses"
      jobTitle:
        type: "string"
      department:
        type: "string"
      phoneNumbers:
        type: "array"
        items:
          $ref: "#/definitions/systemuserputpost_phoneNumbers"
      relationships:
        type: "array"
        items:
          type: "object"
          properties: {}
      password:
        type: "string"
      password_never_expires:
        type: "boolean"
      middlename:
        type: "string"
      displayname:
        type: "string"
      description:
        type: "string"
        maxLength: 1024
      location:
        type: "string"
      costCenter:
        type: "string"
      employeeType:
        type: "string"
      company:
        type: "string"
      employeeIdentifier:
        type: "string"
        description: "Must be unique per user. "
        maxLength: 256
    title: "SystemUserPost"
    x-stoplight:
      id: "systemuserputpost"
      name: "SystemUserPost"
      public: true
  systemuserbindingsput:
    type: "object"
    required:
    - "add"
    - "remove"
    properties:
      add:
        type: "array"
        description: "The list of systemuser ids to be added to this system."
        items:
          type: "string"
      remove:
        type: "array"
        description: "The list of systemuser ids to be removed from this system."
        items:
          type: "string"
    title: "SystemUserBindingsPut"
    x-stoplight:
      id: "systemuserbindingsput"
      name: "SystemUserBindingsPut"
      public: true
  commandresult:
    type: "object"
    properties:
      command:
        type: "string"
        description: "The command that was executed on the system."
      name:
        type: "string"
        description: "The name of the command."
      system:
        type: "string"
        description: "The name of the system the command was executed on."
      systemId:
        type: "string"
        description: "The id of the system the command was executed on."
      organization:
        type: "string"
        description: "The ID of the organization."
      workflowId:
        type: "string"
      workflowInstanceId:
        type: "string"
      user:
        type: "string"
        description: "The user the command ran as."
      sudo:
        type: "boolean"
        description: "If the user had sudo rights"
      files:
        type: "array"
        description: "An array of file ids that were included in the command"
        items:
          type: "string"
      requestTime:
        type: "integer"
        description: "The time that the command was sent."
      responseTime:
        type: "integer"
        description: "The time that the command was completed."
      response:
        $ref: "#/definitions/commandresult_response"
      _id:
        type: "string"
        description: "The ID of the command."
    title: "CommandResult"
    example:
      systemId: "systemId"
      responseTime: 1
      command: "command"
      requestTime: 6
      system: "system"
      response:
        data:
          output: "output"
          exitCode: 5
        id: "id"
        error: "error"
      organization: "organization"
      name: "name"
      files:
      - "files"
      - "files"
      sudo: true
      _id: "_id"
      workflowInstanceId: "workflowInstanceId"
      user: "user"
      workflowId: "workflowId"
    x-stoplight:
      id: "commandresult"
      name: "CommandResult"
      public: true
  command:
    type: "object"
    required:
    - "command"
    - "user"
    properties:
      name:
        type: "string"
      command:
        type: "string"
        description: "The command to execute on the server."
      commandType:
        type: "string"
        description: "The Command OS"
      commandRunners:
        type: "array"
        description: "An array of IDs of the Command Runner Users that can execute\
          \ this command."
        items:
          type: "string"
      user:
        type: "string"
        description: "The ID of the system user to run the command as."
      sudo:
        type: "boolean"
        description: ""
      systems:
        type: "array"
        description: "An array of system IDs to run the command on. Not available\
          \ if you are using Groups."
        items:
          type: "string"
      launchType:
        type: "string"
        description: "How the command will execute."
      listensTo:
        type: "string"
        description: ""
      scheduleRepeatType:
        type: "string"
        description: "When the command will repeat."
      schedule:
        type: "string"
        description: "A crontab that consists of: [ (seconds) (minutes) (hours) (days\
          \ of month) (months) (weekdays) ] or [ immediate ]. If you send this as\
          \ an empty string, it will run immediately.\n"
      files:
        type: "array"
        description: "An array of file IDs to include with the command."
        items:
          type: "string"
      timeout:
        type: "string"
        description: "The time in seconds to allow the command to run for."
      organization:
        type: "string"
        description: "The ID of the organization."
    title: "Command"
    example:
      scheduleRepeatType: "scheduleRepeatType"
      commandType: "commandType"
      commandRunners:
      - "commandRunners"
      - "commandRunners"
      command: "command"
      timeout: "timeout"
      schedule: "schedule"
      systems:
      - "systems"
      - "systems"
      organization: "organization"
      name: "name"
      files:
      - "files"
      - "files"
      sudo: true
      listensTo: "listensTo"
      user: "user"
      launchType: "launchType"
    x-stoplight:
      id: "command"
      name: "Command"
      public: true
  search:
    type: "object"
    properties:
      filter:
        type: "object"
        properties: {}
      fields:
        type: "string"
    title: "Search"
    x-stoplight:
      id: "search"
      name: "Search"
      public: true
  systemuserreturn:
    type: "object"
    properties:
      email:
        type: "string"
        maxLength: 1024
      username:
        type: "string"
        maxLength: 1024
      allow_public_key:
        type: "boolean"
      public_key:
        type: "string"
      ssh_keys:
        type: "array"
        items:
          $ref: "#/definitions/sshkeylist"
      sudo:
        type: "boolean"
      enable_managed_uid:
        type: "boolean"
      unix_uid:
        type: "integer"
        minimum: 0
      unix_guid:
        type: "integer"
        minimum: 0
      activated:
        type: "boolean"
      tags:
        type: "array"
        items:
          type: "string"
      password_expired:
        type: "boolean"
      account_locked:
        type: "boolean"
      passwordless_sudo:
        type: "boolean"
      externally_managed:
        type: "boolean"
      external_dn:
        type: "string"
      external_source_type:
        type: "string"
      firstname:
        type: "string"
        maxLength: 1024
      lastname:
        type: "string"
        maxLength: 1024
      ldap_binding_user:
        type: "boolean"
      enable_user_portal_multifactor:
        type: "boolean"
      totp_enabled:
        type: "boolean"
      attributes:
        type: "array"
        items:
          type: "object"
          properties: {}
      created:
        type: "string"
      samba_service_user:
        type: "boolean"
      _id:
        type: "string"
      organization:
        type: "string"
      addresses:
        type: "array"
        items:
          $ref: "#/definitions/systemuserreturn_addresses"
      jobTitle:
        type: "string"
        maxLength: 1024
      department:
        type: "string"
        maxLength: 1024
      phoneNumbers:
        type: "array"
        items:
          $ref: "#/definitions/systemuserreturn_phoneNumbers"
      relationships:
        type: "array"
        items:
          type: "object"
          properties: {}
      badLoginAttempts:
        type: "integer"
        minimum: 0
      password_never_expires:
        type: "boolean"
      middlename:
        type: "string"
        maxLength: 1024
      displayname:
        type: "string"
        maxLength: 1024
      description:
        type: "string"
        maxLength: 1024
      location:
        type: "string"
        maxLength: 1024
      costCenter:
        type: "string"
        maxLength: 1024
      employeeType:
        type: "string"
        maxLength: 1024
      company:
        type: "string"
        maxLength: 1024
      employeeIdentifier:
        type: "string"
        description: "Must be unique per user. "
        maxLength: 256
    title: "SystemUserReturn"
    example:
      public_key: "public_key"
      firstname: "firstname"
      addresses:
      - poBox: "poBox"
        country: "country"
        streetAddress: "streetAddress"
        postalCode: "postalCode"
        locality: "locality"
        id: "id"
        type: "type"
        extendedAddress: "extendedAddress"
        region: "region"
      - poBox: "poBox"
        country: "country"
        streetAddress: "streetAddress"
        postalCode: "postalCode"
        locality: "locality"
        id: "id"
        type: "type"
        extendedAddress: "extendedAddress"
        region: "region"
      badLoginAttempts: 0
      account_locked: true
      totp_enabled: true
      unix_guid: 0
      jobTitle: "jobTitle"
      samba_service_user: true
      description: "description"
      allow_public_key: true
      phoneNumbers:
      - number: "number"
        id: "id"
        type: "type"
      - number: "number"
        id: "id"
        type: "type"
      relationships:
      - "{}"
      - "{}"
      unix_uid: 0
      passwordless_sudo: true
      externally_managed: true
      ldap_binding_user: true
      company: "company"
      sudo: true
      department: "department"
      email: "email"
      enable_managed_uid: true
      password_expired: true
      created: "created"
      costCenter: "costCenter"
      middlename: "middlename"
      external_source_type: "external_source_type"
      tags:
      - "tags"
      - "tags"
      lastname: "lastname"
      employeeIdentifier: "employeeIdentifier"
      ssh_keys:
      - public_key: "public_key"
        name: "name"
        _id: "_id"
        create_date: "create_date"
      - public_key: "public_key"
        name: "name"
        _id: "_id"
        create_date: "create_date"
      employeeType: "employeeType"
      organization: "organization"
      password_never_expires: true
      displayname: "displayname"
      enable_user_portal_multifactor: true
      attributes:
      - "{}"
      - "{}"
      location: "location"
      external_dn: "external_dn"
      _id: "_id"
      username: "username"
      activated: true
    x-stoplight:
      id: "systemuserreturn"
      name: "SystemUserReturn"
      public: true
  commandslist:
    type: "object"
    properties:
      totalCount:
        type: "integer"
        description: "The total number of commands"
      results:
        $ref: "#/definitions/commandslist_results"
    title: "CommandsList"
    example:
      totalCount: 0
      results:
        schedule: "schedule"
        scheduleRepeatType: "scheduleRepeatType"
        commandType: "commandType"
        organization: "organization"
        name: "name"
        listensTo: "listensTo"
        trigger: "trigger"
        _id: "_id"
        command: "command"
        launchType: "launchType"
    x-stoplight:
      id: "commandslist"
      name: "CommandsList"
      public: true
  commandresultslist:
    type: "object"
    properties:
      totalCount:
        type: "integer"
        description: "The total number of command results"
      results:
        type: "array"
        description: "The list of command results"
        items:
          $ref: "#/definitions/commandresult"
    title: "CommandResultsList"
    example:
      totalCount: 0
      results:
      - systemId: "systemId"
        responseTime: 1
        command: "command"
        requestTime: 6
        system: "system"
        response:
          data:
            output: "output"
            exitCode: 5
          id: "id"
          error: "error"
        organization: "organization"
        name: "name"
        files:
        - "files"
        - "files"
        sudo: true
        _id: "_id"
        workflowInstanceId: "workflowInstanceId"
        user: "user"
        workflowId: "workflowId"
      - systemId: "systemId"
        responseTime: 1
        command: "command"
        requestTime: 6
        system: "system"
        response:
          data:
            output: "output"
            exitCode: 5
          id: "id"
          error: "error"
        organization: "organization"
        name: "name"
        files:
        - "files"
        - "files"
        sudo: true
        _id: "_id"
        workflowInstanceId: "workflowInstanceId"
        user: "user"
        workflowId: "workflowId"
    x-stoplight:
      id: "commandresultslist"
      name: "CommandResultsList"
      public: true
  radiusserver:
    type: "object"
    properties:
      _id:
        type: "string"
      organization:
        type: "string"
      networkSourceIp:
        type: "string"
      sharedSecret:
        type: "string"
      name:
[...]
